{% extends 'help/base.modal.twig' %} 

{% block helptitle %}Your Draft : Rainbow Diagram{% endblock %}


{% block helpcontent %}

<h1>Rainbow Essays Exercise</h1>
<p>To help you understand what the rainbow diagram of your essay means, you are invited to complete a brief exercise. Explanations are provided to help you complete the exercise and to understand the meaning of rainbow diagrams. You don't need to record your solution to the exercise anywhere on the OpenEssayist system, though it might help you if you jot down your solution on a piece of paper. You will find the correct solution at the bottom of this page after the exercise. Here is the exercise.</p>
<p>You will shortly be shown four pages of abstract diagrams.  Each diagram is a picture of an essay. The pictures have been automatically created from the text of essays by a computer program. The exact same program was used to make all the pictures. What made the pictures come out different was the different content in the essays. So the pictures visualise some of the differences between different essays.</p>
<p>Each of the four pages of the exercise shows essays of a particular type. Your task is to decide which of the four pages corresponds to which particular type of essay. The essay types are as follows:

<ol type="A" id="rd-essay-list">
  <li>University student course assignment essay awarded a high grade</li>
  <li>University student course assignment essay awarded a low grade</li>
  <li>Stanford University Boothe Prize essay (source http://bootheprize.stanford.edu/essays.html)</li>
  <li>Pretend 'essay' that does not have a normal essay structure (e.g., ten identical paragraphs)</li>
</ol>
So here is the exercise question: Which essay type (A,B,C,D) matches which page (1,2,3,4) of the exercise?
</p>

<hr>

<h2>Here are some clues to help you do the exercise.</h2>
<p>In the rainbow essay pictures, each sentence of the essay is represented by a large coloured dot called a 'node'. The colour of the sentences/nodes changes from the first sentence of the essay (violet) to the last sentence of the essay (red). You can see this clearly in the examples on the following two pages. Additionally, the nodes are partially transparent, and so when they are drawn on top of each other, the layered colours make some brighter spots in the diagram. </p>


<p>The lines that are drawn between the nodes are called 'links'. Pairs of sentences/nodes are joined by a link when the same word appears in both sentences. This is a way of showing that two sentences are similar. A sentence/node that has many links attached is a sentence/node that is similar to all the sentences/nodes to which it is linked. Highly connected nodes (sentences with similarities to lots of other sentences) have been drawn towards the centre of the rainbow picture. Sparsely connected nodes (sentences with similarities to few or no other sentences) have been drawn towards the outer edges of the picture. </p>

<p>In a well-structured essay, in which there is information in several paragraphs to support the statements made in the conclusion, you would expect to see the reddest nodes near the centre of the picture, because they are highly connected (and therefore central), they are on top of each other (and therefore brighter), and they are at the end of the essay (and therefore red). Similarly, for the introduction, you might expect to see the brightest violet nodes near the centre of the picture. (It can be a little bit harder to see the bright violet nodes, because the earlier sentences get drawn first, and later nodes sometimes get drawn on top of them.) And in a well-structured essay in which each paragraph discusses one main idea, you might expect to see nodes of similar colours near to each other in the picture.</p>

<br>
<h4>Example 1</h4>

<img src="{{img ~  'rd-example-1.jpg'}}" class="rd-help-example" id="rd-help-example-1" />

<div id="extract-example-1" class="extract">  
  <h2>Text (Extract from online FAQ about foxes)</h2>
  <p>Will the foxes in my garden attack my dog or cat? 
  This is extremely unlikely. <span class="purpletext">2. Foxes avoid dogs, even small dogs, because many foxes are <u>killed</u> by dogs.</span> So it is much more likely that your dog will attack the fox, not the other way round. Attacks on cats are equally rare: cats and foxes are roughly the same size, and cats are very capable of defending themselves against foxes. So it is hardly surprising that foxes generally give cats a wide berth and flee when threatened by a cat. Occasionally small kittens are killed, but this is rare. Keeping your cat indoors at night greatly reduces the chances of an encounter with a fox. <span class="redtext">8. There are also a variety of other benefits: cats kept in at night are healthier and live longer, and kill less of the local wildlife.</span>
  </p>
  <cite>Source: <a href="http://www.thefoxwebsite.net/old/faq/urbanfoxproblems.html#q2" target="_blank">http://www.thefoxwebsite.net/old/faq/urbanfoxproblems.html#q2</a></cite>
</div>

<hr>

<h4>Example 2</h4>
<img src="{{img ~  'rd-example-1.jpg'}}" class="rd-help-example" id="rd-help-example-2" />
<div id="extract-example-2" class="extract">  
  <h2>Text (Aesop's fable: The Lion, the Fox, and the Stag)</h2>
  <p><span class="purpletext">0. A Lion lay sick in his den, unable to provide himself with food.</span> 1. So he said to his friend the Fox, who came to ask how he did, "My good friend, I wish you would go to yonder wood and beguile the big Stag, who lives there, to come to my den: I have a fancy to make my dinner off a stag's heart and brains." 2. The Fox went to the wood and found the Stag and said to him, "My dear sir, you're in luck. 3. You know the Lion, our King: well, he's at the point of death, and has appointed you his successor to rule over the beasts. <span class="bluetext">4. I hope you won't forget that I was the first to bring you the good news.</span> 5. And now I must be going back to him; and, if you take my advice, you'll come too and be with him at the last." 6. The Stag was highly flattered, and followed the Fox to the Lion's den, suspecting nothing. 7. No sooner had he got inside than the Lion sprang upon him, but he misjudged his spring, and the Stag got away with only his ears torn, and returned as fast as he could to the shelter of the wood. 8. The Fox was much mortified, and the Lion, too, was dreadfully disappointed, for he was getting very hungry in spite of his illness. 9. So he begged the Fox to have another try at coaxing the Stag to his den. 10. "It'll be almost impossible this time," said the Fox, "but I'll try"; and off he went to the wood a second time, and found the Stag resting and trying to recover from his fright. 11. As soon as he saw the Fox he cried, "You scoundrel, what do you mean by trying to lure me to my death like that? 12. Take yourself off, or I'll do you to death with my horns." 13. But the Fox was entirely shameless. 14. "What a coward you were," said he; "surely you didn't think the Lion meant any harm? 15. Why, he was only going to whisper some royal secrets into your ear when you went off like a scared rabbit. 16. You have rather disgusted him, and I'm not sure he won't make the wolf King instead, unless you come back at once and show you've got some spirit. 17. I promise you he won't hurt you, and I will be your faithful servant." 18. The Stag was foolish enough to be persuaded to return, and this time the Lion made no mistake, but overpowered him, and feasted right royally upon his carcase. 19. The Fox, meanwhile, watched his chance and, when the Lion wasn't looking, filched away the brains to reward him for his trouble. <span class="redtext">20. Presently the Lion began searching for them, of course without success: and the Fox, who was watching him, said, "I don't think it's much use your looking for the brains: a creature who twice walked into a Lion's den can't have got any."</span>
  </p>
  <cite>Source: <a href="http://www.happychild.org.uk/nvs/cont/stories/aesopsfables/page0214.htm" target="_blank">http://www.happychild.org.uk/nvs/cont/stories/aesopsfables/page0214.htm</a></cite>
</div>

<hr>

<h4>The Exercise - Rainbow Diagrams</h4>

<ol type="A" id="rd-essay-list">
  <li>University student course assignment essay awarded a high grade</li>
  <li>University student course assignment essay awarded a low grade</li>
  <li>Stanford University Boothe Prize essay (source http://bootheprize.stanford.edu/essays.html)</li>
  <li>Pretend 'essay' that does not have a normal essay structure (e.g., ten identical paragraphs)</li>
</ol>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#lA">Exercise: Page 1</a></li>
    <li class=""><a data-toggle="tab" href="#lB">Exercise: Page 2</a></li>
    <li class=""><a data-toggle="tab" href="#lC">Exercise: Page 3</a></li>
    <li class=""><a data-toggle="tab" href="#lD">Exercise: Page 4</a></li>
  </ul>
  <div class="tab-content">
    <div id="lA" class="tab-pane active">
      <img src="{{img ~  'rd-exercise-1.jpg'}}" class="rd-help-example" id="rd-help-exercise-1" />
    </div>
    <div id="lB" class="tab-pane">
      <img src="{{img ~  'rd-exercise-2.jpg'}}" class="rd-help-example" id="rd-help-exercise-2" />
    </div>
    <div id="lC" class="tab-pane">
      <img src="{{img ~  'rd-exercise-3.jpg'}}" class="rd-help-example" id="rd-help-exercise-3" />
    </div>
    <div id="lD" class="tab-pane">
      <img src="{{img ~  'rd-exercise-4.jpg'}}" class="rd-help-example" id="rd-help-exercise-4" />
    </div>
  </div>
</div>

<hr><hr><hr>

<div id="the-solution">
  <h3>The Solution</h3>
  <button class="btn btn-large btn-warning" id="reveal-solution" type="button">Click to reveal the solution below</button>

  <div id="the-solution-answers">
    <p>Essay A ==> Exercise Page 2</p>
    <p>Essay B ==> Exercise Page 3</p>
    <p>Essay C ==> Exercise Page 1</p>
    <p>Essay D ==> Exercise Page 4</p>
  </div>
</div>

<script>
$( "#reveal-solution" ).click(function() {
  $( "#the-solution-answers" ).fadeIn( "slow", function() {
    // Animation complete
  });
});
</script>



{% endblock %}

{% block hintcontent %}
<ul class="icons-ul">
  <li><i class="icon-li icon-comments"></i>The rainbow diagram for this version of the assignment shows on the left side of the page.</li>
  <li><i class="icon-li icon-comments"></i>The most recent previous version of the assignment shows on the right side of the page.</li>
  <li><i class="icon-li icon-comments"></i>Click any of the diagrams in the bottom section (previous versions, if you have some for this assignment) to replace the right side of the page and compare with this version.</li>
</ul>

{% endblock %}


