{% extends "site.twig" %} 

{% block title %}{{ task.name }} v{{ draft.version }} - Key Sentences{% endblock %} 
{% block subheader %}Your Draft : Key Sentences{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}


{% block navsubheader %}
	{% include "widgets/navbar.drafts.twig" with {'navsrc': 'me.draft.sentence'} %}
{% endblock %}

{% block content %}
<div class="row-fluid"><div class="span12 offset0">
	<div class="widget" role="application" aria-labelledby="app-group-title">
			<div class="widget-header">
				<h2 id="app-group-title"> Key Sentences </h2>
			</div>
			<div class="widget-toolbar">
				<div class="btn-toolbar form-inline" id="options" role="toolbar" aria-controls="sentence-container">
				    <div class="btn-group option-set"  data-toggle="buttons-radio" data-option-key="sortBy">
    					<span class="btn-label">Sort by: </span>	
    					<button class="btn  active" id="sort-rank"
    						rel="tooltip" data-placement="bottom"
							title="Rank the sentences by their importance" 
							data-option-value="rank">Importance</button>
					    <button class="btn " 
					    	rel="tooltip" data-placement="bottom"
							title="Rank the sentences by their order in the text" 
					    	data-option-value="id">Text Order</button>
					    {#<button class="btn" data-option-value="tag">Structure</button>#}
    				</div>
				</div>
			</div>
	
	
	<div class="widget-content clearfix " id="sentence-container"  role="list" aria-labelledby="app-group-title">
				{#<table class="table table-condensed table-striped table-bordered">
				<tbody>
				{% for sentence in sentences %}
					<tr><td>{{ sentence.text  }}</td>	</tr>
				{% endfor %}
				</tbody>
				</table>#} 
				{% for sentence in sentences %}
					<div class="sent" data-tag="{{ sentence.tag}}" 
						 			  data-rank="{{ sentence.rank}}" 
						 			  data-id="{{ sentence.id}}" 
						 			   role="listitem">
						<div class="par-tag" data-tag="{{ sentence.tag}}">
							<span class="icon-stack">
	          					<i class="icon-circle-blank  icon-stack-base"></i>
    	      					<i class="icon-heading "></i>
        					</span></div>		
						<div class="par-container">				 			  
							<span>{{ sentence.text}}</span>
						</div>
					</div>
				{% endfor %}
</div> 
			
	</div>
</div></div>




{% endblock %}

{% block injectJS %}
	{{ parent() }}
<script src="{{ app_base }}/assets/jquery.isotope.min.js"></script>
<script src="{{ app_base }}/assets/d3.js/colorbrewer.js"></script>

<script type="text/javascript">

function createIsotope()
{
    var $container = $('#sentence-container');

	$container.isotope({
		layoutMode : 'straightDown',
    	getSortData : {
    		tag : function( $elem ) {
            		return $elem.attr('data-tag');
            	},
			rank : function( $elem ) {
            		return parseInt( $elem.attr('data-rank'), 10 );
          		},
			id : function( $elem ) {
            		return parseInt( $elem.attr('data-id'), 10 );
          	}
          }
    	
    });
	
}


$(window).on("beforeprint",function() {
	var $container = $('#sentence-container');
	$container.isotope('destroy');
});	

$(window).on("afterprint",function() {
	createIsotope();
});
   
$(function(){

	var sections =  {
			'#-s:t#': 'Title', 
			'#+s:s#': 'Summary', 
			'#+s:d#': 'Discussion', 
			'#+s:d_i#':'Discussion', 
			'#+s:i#': 'Introduction', 
			'#+s:c#': 'Conclusion', 
			'#-s:q#': 'Assignment',  
			'#+s:p#': 'Preface', 
			'#-s:h#': 'Heading', 
			'#-s:n#': 'Numerics', 
			'#-s:p#': 'Punctuation'					
			};
	          		
	
sections =  {
		'????':'',
		'#+s:c#': 'Conclusion', 
		'#+s:d_i#':'Discussion', 
		'#+s:d#': 'Discussion', 
		'#+s:s#': 'Summary', 
		'#+s:i#': 'Introduction', 
		'#-s:t#': 'Title', 
		'#+s:p#': 'Preface', 
		'#-s:h#': 'Heading', 
		'#-s:n#': 'Numerics', 
		'#-s:q#': 'Assignment',  
		'#-s:p#': 'Punctuation'					
		};	

/*$(".par-tag[data-tag]").each(function()
		{
			console.log(Object.keys(sections));
			var tag = $(this).attr('data-tag');
			var idx = $.inArray(tag,Object.keys(sections));
			idx = (idx==-1)?2:idx;
			var clr = colorbrewer.Paired[11][idx];
			console.log(tag + " " + idx + " " + clr);
			if (clr)
			{
				 $(this).attr('style', 'background-color: '+clr+' !important');
				 $(this).css('opacity', 0.5);
			}
			$(this).attr('title', sections[tag]);
		});*/
	
    
    
      var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('button');

      $optionLinks.click(function(){
        var $this = $(this);
        // don't proceed if already selected
        if ( $this.hasClass('active') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.active').removeClass('active');
        $this.addClass('active');
  
        // make option object dynamically, i.e. { filter: '.my-filter-class' }
        var options = {},
            key = $optionSet.attr('data-option-key'),
            value = $this.attr('data-option-value');
        // parse 'false' as false boolean
        value = value === 'false' ? false : value;
        options[ key ] = value;
        if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
          // changes in layout modes need extra logic
          changeLayoutMode( $this, options )
        } else {
          // otherwise, apply new options
          var $container = $('#sentence-container');
          $container.isotope( options );
        }
        
        return false;
      });

      createIsotope();
  });


</script>
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
<style type="text/css">

div.sent{
 margin-bottom: 3px;
}

.par-tag
{
    display: table-cell;
    width: 12px;
    background-color: #D5D5D5 !important;;
    border-right: 8px solid white;
        text-align: center;
    vertical-align: bottom;
   
}

.par-container
{
	display: table-cell;
}

.par-tag
{
    display: table-cell;
    width: 18px;
    background-color: #D5D5D5 !important;;
    border-right: 8px solid white;
        text-align: center;
    vertical-align: top;
    
    font-size: 11px;
    font-weight: bolder;
    min-width: 50px;
   
}

/*.par-tag[data-tag='#+s:c#']:after
{
	content:"Conclusion";
}*/

.par-tag[data-tag='#dummy#'] {
	background-color: rgba( 213, 213 ,213,0.9) !important;
	color: rgba(85 ,85 ,85 ,0.5) !important;;
}

.par-tag[data-tag='#+s:i#'] {
	background-color: rgba( 246, 184, 184,0.25) !important;
	color: rgba(246, 184, 184,0.5) !important;;
}

.par-tag[data-tag='#-s:h#'] {
	background-color: rgba(202 ,178 ,214,0.25) !important;;
	color: rgba(202 ,178 ,214,0.5) !important;;
}

.par-tag[data-tag='#+s#'] {
	background-color: rgba(178 ,223 ,138,0.25) !important;;
	color: rgba(178 ,223 ,138,0.5) !important;;
}

.par-tag[data-tag='#+s:c#'] {
	background-color: rgba(31, 120 ,180 ,0.25) !important;;
	color: rgba(31, 120 ,180 ,0.5) !important;;
}

.par-tag[data-tag='#-s:q#'] {
	background-color: rgba(106, 61, 154  ,0.25) !important;;
	color: rgba(106, 61, 154  ,0.5) !important;;
}

.par-tag[data-tag='#-s:t#'] {
	background-color: rgba( 253, 191, 111 ,0.25) !important;;
	color: rgba(253, 191, 111  ,0.5) !important;;
}

.par-tag[data-tag='#+s:p#'] {
	background-color: rgba( 253, 191, 111 ,0.25) !important;;
	color: rgba(253, 191, 111  ,0.5) !important;;
}


.par-tag[data-tag='#+s#'] .icon-heading:before
{
	content:"D";
}
.par-tag[data-tag='#+s:c#'] .icon-heading:before
{
	content:"C";
}

.par-tag[data-tag='#-s:h#'] .icon-heading:before
{
	content:"H";
}

.par-tag[data-tag="#+s:i#"] .icon-heading:before
{
	content:"I";
}

.par-tag[data-tag="#-s:q#"] .icon-heading:before
{
	content:"Q";
}

.par-tag[data-tag="#-s:t#"] .icon-heading:before
{
	content:"T";
}

.par-tag[data-tag="#dummy#"] .icon-heading:before
{
	content:"U";
}

.par-tag[data-tag="#+s:p#"] .icon-heading:before
{
	content:"P";
}

/*@media (min-width: 1200px) {

.span12 {
    width: 724px;
  }
  
.row-fluid .span12 {
    width: 724px;
  }

}*/

.widget-content {
	padding: 0px;
}
.isotope-item
{
	padding: 6px 10px;
}

/*.sent:before
  {
  	content: "[" attr(data-tag) "][" attr(data-rank) "][" attr(data-id) "]";
  }
*/
.icon-heading
{
	vertical-align: middle;
	color: black;
	font-family: sans-serif;Arial;
	font-weight: bolder;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

</style>
{% endblock %}