{% extends "site.twig" %} 
{% import "widgets/ngram.macro.twig" as ngram %}

{% block title %}{{ task.name }} v{{ draft.version }} - Key Words{% endblock %} 
{% block subheader %}Your Draft : Key Words & Key Phrases{% endblock %} 
{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.drafts.twig" with {'navsrc': 'me.draft.keywords'} %}
{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="span12"><div class="widget">
	<div class="widget-header">
		<h2>Key Words and Key Phrases</h2>
	</div>
	<div class="widget-content">
	
	<table id="data-table" class="table table-striped  table-hover table-condensed">
	<thead>
		<tr>
			<th>Type</th>
			<th>Key Word</th>
			<th>Frequency</th>
			<th>Forms in text</th>
			<th>Centrality</th>
		</tr>	
	</thead>
	<tbody>
	{% for key,items in keywords %}
		{% for item in items %}
		<tr>
			<td>{{ key|title }}</td>
			{{ ngram.toTD(item, {}) }}
			<td>{{ item.count}}</td>
			<td>{{ (item.ngram|length==1)? item.source|join(', ') }}</td>
			<td>{{ (item.ngram|length==1)?item.score[0]|number_format(3):0}}</td>
		</tr>
		{% endfor %}
	{% endfor %}
	</tbody>
	
	</table>
	</div>
</div></div>

</div>



{% for key,items in keywords %}
<div class="row-fluid">
	<div class="span12">
	
		<div class="widget" aria-labelledby="app-list{{ loop.index0 }}" role="application">
			<div class="widget-header">
				<h2 id="app-title{{ loop.index0 }}"> {{ key|title }} <span aria-hidden="true">({{ items|length }})</span></h2>
			</div>
			<div class="widget-content">
				<ul id="app-list{{ loop.index0 }}" aria-labelledby="app-title{{ loop.index0 }}" role="list">
					{% for item in items %}
						 {{ ngram.toLI(item,{
						 		"showBadge": true,
						 		"showPopover": true
							}) }}
					{% endfor %}
				</ul>
			</div>
		
			 
		</div>
	</div>
</div>	
{%  endfor %}


{% endblock %}


{% block injectCSS %}
	{{ parent() }}
<style>
	
.widget-content ul
{
	margin: 0;
}

	
.btn-ngram { 
	white-space: nowrap; 
	margin:0 0 5px 5px; 
	
}

.btn-ngram.btn-large 
{
	padding: 6px 15px;
}

.btn-ngram.btn-small
{
	padding:2px 10px; 
}

.btn-ngram > .label {
	margin-left: 10px;
}

.inlinebardd, .sparkbullet {
	/*float: right;*/
	margin-left:25px;
	}
	
.inlinebar,.bartodo
{
    border: 1px solid Gainsboro;
}


.pop
{ display:table;}

.pop-line
{display: table-row;}

.pop-desc, .pop-title
{display: table-cell;}

 .pop-title
 {
 	white-space: nowrap;
 	font-weight: bold;
 	padding: 3px 0px;
 	padding-right: 6px;
 }
 
 .popover-title {
 	font-size: 20px;
    font-weight: bold;
 }
	
.dl-horizontal dt {
	width: inherit;
}

.dl-horizontal dd {
	margin-left:110px;
}

	
button .legendcolor
{
    background-color: white;
    float: left;
    height: 14px;
    margin-right: 5px;
    margin-top: 2px;
    width: 20px;
}
	
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}


 
table.table thead .sorting:after { font-family: FontAwesome; content: "   ";}
table.table thead .sorting_asc:after { font-family: FontAwesome; content: "   ";}
table.table thead .sorting_desc:after { font-family: FontAwesome; content: "   ";}

table.table thead .sorting_asc_disabled {  }
table.table thead .sorting_desc_disabled { }	
</style>
{% endblock %}

{% block injectJS %}
	{{ parent() }}
<script src="{{ app_base }}/assets/jquery.sparkline/jquery.sparkline.js"></script>
<script src="{{ app_base }}/assets/jquery.dataTables/js/jquery.dataTables.min.js"></script>
<script id="keyword-datatable">
$(document).ready(function() {
	$.fn.dataTableExt.oStdClasses.sLength ="dataTables_length span6 ";
	$.fn.dataTableExt.oStdClasses.sFilter  ="dataTables_filter span6 ";
	$.fn.dataTableExt.oStdClasses.sInfo  ="dataTables_info span6 ";
	$.fn.dataTableExt.oStdClasses.sPaging   ="dataTables_paginate span6 pull-right ";
	
	$.fn.dataTableExt.oStdClasses.sPageButton="btn btn-small";
	$.fn.dataTableExt.oStdClasses.sPageButtonActive="btn btn-small active";
	$.fn.dataTableExt.oStdClasses.sPageButtonStaticDisabled="btn btn-small disabled";
	$.fn.dataTableExt.oStdClasses.sPagePrevEnabled="btn btn-small";
	$.fn.dataTableExt.oStdClasses.sPagePrevDisabled ="btn btn-small disabled";
	$.fn.dataTableExt.oStdClasses.sPageNextEnabled ="btn btn-small";
	$.fn.dataTableExt.oStdClasses.sPageNextDisabled ="btn btn-small disabled";
	oTable = $('#data-table').dataTable( {
		"sDom": '<"row-fluid"lf>rt<"row-fluid"ip>',
		"bPaginate": 	false,
        "bLengthChange": false,
        "bFilter": true,
        "bSort": true,
        "bInfo": true,
        "bAutoWidth": false,
        "aaSorting": [[ 2, "desc" ]],
        "aoColumnDefs": [
			{ "bSearchable": false, "bSortable": false, "aTargets": [ 0,3 ] },
					
		],
		"oLanguage": {
            "sSearch": "Filter by: "
        }
    } );

	$('#data-table tbody').removeAttr("role").removeAttr("aria-live").removeAttr("aria-relevant");
});
</script> 

	
<script id="keyword-popover">
$(document).ready(function() {

	var popOptions ={
			html: true,
			trigger: 'click manual',
		    content:function(a,b,c)
		    	{
		    		var dim= $(this).attr("data-dim");
	    			var score= $(this).attr("data-score");
	    			var trend= $(this).attr("data-trend");
	    			var forms= $(this).attr("data-source");
	    			var count= $(this).attr("data-count");

	    			score2 = score.split(",");
	    			score = [];
	    			score.push(score2[0]);
	    			score.push("1");
	    			score.push("0.5");
	    			score.push("0.2");
	    			score.push("0.1");
	    			score.join(",");
	    			    			

	    			$newDiv = $('<div />').addClass("pop").attr("tabindex","0");

	    			$r1 = $('<div />').addClass("pop-line").appendTo($newDiv);
					$r1.append($('<div />',{ "text": "Frequency:", "class": "pop-title" }));
					$r1.append($('<div />',{"class": "pop-desc"}).append(
	    	    			$('<span />',{ "text": count, "class": "label label-info"})));
	    				    			
	    			if (dim=="1")
	        		{
	        			$r1 = $('<div />').addClass("pop-line").appendTo($newDiv);
	    				$r1.append($('<div />',{ "text": "Forms in text:", "class": "pop-title" }));
	    				$r1.append($('<div />',{ "class" : "pop-desc"}).append(
	        	    			$('<span />',{ "text": forms})));
	        		}	    	

	    			{% if auth.user.isadmin and false %}
	    			$r2 = $('<div />').addClass("pop-line").appendTo($newDiv);
					$r2.append($('<div />',{ "text": "Centrality:", "class": "pop-title"}));
					$r2.append($('<div />',{ "class": "pop-desc"}).append(
	    	    			$('<span />',{"class": 'inlinebar bartodo',"text":score})));	    			

	    			$r2 = $('<div />').addClass("pop-line").appendTo($newDiv);
					$r2.append($('<div />',{ "text": "Trend:", "class": "pop-title"}));
					$r2.append($('<div />',{ "class": "pop-desc"}).append(
	    	    			$('<span />',{"class": 'inlinebar trendtodo',"text":trend})));	    			
					{% endif %}	
						
	        		return $newDiv;
			 	}
		    }; 

	 // popover demo
	$(".ngram[data-toggle=popover]").popover(popOptions);


	$(".ngram[data-toggle=popover]").keypress(function(e) {
		if(e.which == 13)
		{
		    $('.ngram[data-toggle=popover]').each(function () {
		        //the 'is' for buttons that trigger popups
		        //the 'has' for icons and other elements within a button that triggers a popup
		        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
		            $(this).popover('hide');
		            return;
		        }
		    });
		    $(this).popover("toggle");
		}
	});
	
	

		$(':not(#anything)').on('click', function (e) {
		    $('.ngram[data-toggle=popover]').each(function () {
		        //the 'is' for buttons that trigger popups
		        //the 'has' for icons and other elements within a button that triggers a popup
		        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
		            $(this).popover('hide');
		            return;
		        }
		    });
		});

	 
	

});

</script>
{% endblock %} 