{% extends "site.twig" %} 
{% import "widgets/ngram.macro.twig" as ngram %}

{% block title %}{{ task.name }} v{{ draft.version }} - Key Words{% endblock %} 
{% block subheader %}Your Draft : Key Words & Key Phrases{% endblock %} 
{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.drafts.twig" with {'navsrc': 'me.draft.keywords'} %}
{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="span12"><div class="widget">
	<div class="widget-header">
		<h2>Key Words and Key Phrases</h2>
	</div>
	<div class="widget-content">
	
	<table id="data-table" class="table table-striped  table-hover table-condensed">
	<thead>
		<tr>
			<th>Type</th>
			<th>Key Word</th>
			<th>Frequency</th>
			<th>Forms in text</th>
			<th>Centrality</th>
		</tr>	
	</thead>
	<tbody>
	{% for key,items in keywords %}
		{% for item in items %}
		<tr>
			<td>{{ key|title }}</td>
			{{ ngram.toTD(item, {}) }}
			<td>{{ item.count}}</td>
			<td>{{ (item.ngram|length==1)? item.source|join(', ') }}</td>
			<td>{{ (item.ngram|length==1)?item.score[0]|number_format(3):0}}</td>
		</tr>
		{% endfor %}
	{% endfor %}
	</tbody>
	
	</table>
	</div>
</div></div>

</div>


{#
{% for key,items in keywords %}
<div class="row-fluid">
	<div class="span12">
	
		<div class="widget">
			<div class="widget-header" id="cat{{ loop.index0 }}">
				<h2> {{ key|title }} ({{ items|length }})</h2>
			</div>
			<div class="widget-content" role="region" aria-label="List of {{ key|title }}"> 
				{% for item in items %}
					 {{ ngram.toDIV(item, {"showPopover": true,"isLarge": true, "tag": "div"}) }}
				{% endfor %}
			</div> 
		</div>
	</div>
</div>	{%  endfor %}
#}

{% endblock %}


{% block injectCSS %}
	{{ parent() }}
<style>
	
td div.ngram {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 rgba(170, 200, 250, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.5);
    color: #445566;
    display: inline-block;
    /*font-size: 0.9em;*/
    /*letter-spacing: -0.08em;*/
    /*line-height: 20px;*/
    margin: 0;
    text-align: center;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
    font-weight: bold;
   
    /*height: 40px;*/
    padding: 5px;
    min-width: 60px;
    /*z-index: 1001;*/
	
}	
	
.btn-ngram { 
	white-space: nowrap; 
	margin:0 0 5px 5px; 
}

.btn-ngram.btn-large 
{
	padding: 6px 15px;
}

.btn-ngram.btn-small
{
	padding:2px 10px; 
}

.btn-ngram > .label {
	margin-left: 10px;
}

.inlinebardd, .sparkbullet {
	/*float: right;*/
	margin-left:25px;
	}
	
.inlinebar,.bartodo
{
    border: 1px solid Gainsboro;
}


.pop
{ display:table;}

.pop-line
{display: table-row;}

.pop-desc, .pop-title
{display: table-cell;}

 .pop-title
 {
 	white-space: nowrap;
 	font-weight: bold;
 	padding: 3px 0px;
 	padding-right: 6px;
 }
 
 .popover-title {
 	font-size: 20px;
    font-weight: bold;
 }
	
.dl-horizontal dt {
	width: inherit;
}

.dl-horizontal dd {
	margin-left:110px;
}

	
button .legendcolor
{
    background-color: white;
    float: left;
    height: 14px;
    margin-right: 5px;
    margin-top: 2px;
    width: 20px;
}
	
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}


 
table.table thead .sorting:after { font-family: FontAwesome; content: "   ";}
table.table thead .sorting_asc:after { font-family: FontAwesome; content: "   ";}
table.table thead .sorting_desc:after { font-family: FontAwesome; content: "   ";}

table.table thead .sorting_asc_disabled {  }
table.table thead .sorting_desc_disabled { }	
</style>
{% endblock %}

{% block injectJS %}
	{{ parent() }}
<script src="{{ app_base }}/assets/jquery.sparkline/jquery.sparkline.js"></script>
<script src="{{ app_base }}/assets/jquery.dataTables/js/jquery.dataTables.min.js"></script>
<script>

$(document).ready(function() {
	$.fn.dataTableExt.oStdClasses.sLength ="dataTables_length span6 ";
	$.fn.dataTableExt.oStdClasses.sFilter  ="dataTables_filter span6 ";
	$.fn.dataTableExt.oStdClasses.sInfo  ="dataTables_info span6 ";
	$.fn.dataTableExt.oStdClasses.sPaging   ="dataTables_paginate span6 pull-right ";
	
	$.fn.dataTableExt.oStdClasses.sPageButton="btn btn-small";
	$.fn.dataTableExt.oStdClasses.sPageButtonActive="btn btn-small active";
	$.fn.dataTableExt.oStdClasses.sPageButtonStaticDisabled="btn btn-small disabled";
	$.fn.dataTableExt.oStdClasses.sPagePrevEnabled="btn btn-small";
	$.fn.dataTableExt.oStdClasses.sPagePrevDisabled ="btn btn-small disabled";
	$.fn.dataTableExt.oStdClasses.sPageNextEnabled ="btn btn-small";
	$.fn.dataTableExt.oStdClasses.sPageNextDisabled ="btn btn-small disabled";
	oTable = $('#data-table').dataTable( {
		"sDom": '<"row-fluid"lf>rt<"row-fluid"ip>',
		"bPaginate": 	false,
        "bLengthChange": false,
        "bFilter": true,
        "bSort": true,
        "bInfo": true,
        "bAutoWidth": false,
        "aaSorting": [[ 2, "desc" ]],
        "aoColumnDefs": [
			{ "bSearchable": false, "bSortable": false, "aTargets": [ 0,3 ] },
					
		],
		"oLanguage": {
            "sSearch": "Filter by: "
        }
    } );

	$('#data-table tbody').removeAttr("role").removeAttr("aria-live").removeAttr("aria-relevant");
    
	
	{#
		$(document).dblclick(function(event){ 
	   // alert("click"); 
		   $(".btn-ngram[data-toggle=popover]").popover('hide');
	}); 

	$(':not(#anything)').on('click', function (e) {
	    $('.btn-ngram[data-toggle=popover]').each(function () {
	        //the 'is' for buttons that trigger popups
	        //the 'has' for icons and other elements within a button that triggers a popup
	        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
	            $(this).popover('hide');
	            return;
	        }
	    });
	});#}
	
	
	 // popover demo
	$(".btn-ngram[data-toggle=popover]")
	.popover({
		html: true,
		trigger: 'click',
	    content:function(a,b,c)
	    	{
	    		var dim= $(this).attr("data-dim");
    			var score= $(this).attr("data-score");
    			var trend= $(this).attr("data-trend");
    			var forms= $(this).attr("data-source");
    			var count= $(this).attr("data-count");

    			score2 = score.split(",");
    			score = [];
    			score.push(score2[0]);
    			score.push("1");
    			score.push("0.5");
    			score.push("0.2");
    			score.push("0.1");
    			score.join(",");
    			    			

    			$newDiv = $('<div />').addClass("pop").attr("role","status");

    			$r1 = $('<div />').addClass("pop-line").appendTo($newDiv);
				$r1.append($('<div />',{ "text": "Frequency:", "class": "pop-title" }));
				$r1.append($('<div />',{"class": "pop-desc"}).append(
    	    			$('<span />',{ "text": count, "class": "label label-info"})));
    				    			
    			if (dim=="1")
        		{
        			$r1 = $('<div />').addClass("pop-line").appendTo($newDiv);
    				$r1.append($('<div />',{ "text": "Forms in text:", "class": "pop-title" }));
    				$r1.append($('<div />',{ "class" : "pop-desc"}).append(
        	    			$('<span />',{ "text": forms})));
        		}	    	

    			{% if auth.user.isadmin and false %}
    			$r2 = $('<div />').addClass("pop-line").appendTo($newDiv);
				$r2.append($('<div />',{ "text": "Centrality:", "class": "pop-title"}));
				$r2.append($('<div />',{ "class": "pop-desc"}).append(
    	    			$('<span />',{"class": 'inlinebar bartodo',"text":score})));	    			

    			$r2 = $('<div />').addClass("pop-line").appendTo($newDiv);
				$r2.append($('<div />',{ "text": "Trend:", "class": "pop-title"}));
				$r2.append($('<div />',{ "class": "pop-desc"}).append(
    	    			$('<span />',{"class": 'inlinebar trendtodo',"text":trend})));	    			
				{% endif %}	
					
        		return $newDiv;
		 	}
	    }).click(function(e) {

	    	{% verbatim %}
	    		    	var bullet= {
	    			type: 'bullet',
	    			disableHiddenCheck : true,
	    			height : '18px',
	    			width : '100px',
	    			  targetColor: '#f33',
	                  targetWidth: 5, // width of the target bar in pixels
	                  //performanceColor: '#238B45',
	                  //rangeColors: ['#EDF8E9', '#BAE4B3', '#74C476'],
	                  base: undefined, // set this to a number to change the base start number
	                  tooltipFormat: $.spformat("{{fieldkey:fields}} - {{value}}"),
	    			tooltipValueLookups: { fields: {r: 'XXXXX', p: '', t: 'Centrality'} },
	    			numberFormatter: function(v)
	    				{ return parseFloat(v).toFixed(2);
	    					 
	    				}
	    			{% endverbatim %}		    			
	    	   };
	    	
			var bar =  {
	    			type : 'bar',
	    			chartRangeMin : 0,
	    			chartRangeMax : .25,
	    			tooltipPrefix : '',
	    			tooltipSuffix : '',
	    			disableHiddenCheck : true,
	    			height : '18px',
	    			width : '100px',
	    			barColor : 'red',
	    			numberDigitGroupCount : 5,
	    			colorMap : {
	    				'.25:1' : 'green',
	    				'.1:.2499999' : 'red',
	    				'0:.0999999' : 'lightblue'
	    			}};

		    
	    	$('.bartodo').sparkline("html",bullet).removeClass('bartodo');
			
	    	$('.trendtodo').sparkline("html",{type:'bar',barWidth: 6}).removeClass('trendtodo');
			
							e.preventDefault();
	});

	
	// initialise the code highlighting
	// define the sparkline for the keyword's ranking
	/*$('.inlinebar').sparkline('html', {
		type : 'bar',
		chartRangeMin : 0,
		chartRangeMax : .25,
		tooltipPrefix : '',
		tooltipSuffix : '',
		disableHiddenCheck : true,
		height : '18px',
		width : '100px',
		barColor : 'red',
		numberDigitGroupCount : 5,
		colorMap : {
			'.25:1' : 'green',
			'.1:.2499999' : 'red',
			'0:.0999999' : 'lightblue'
		}
	});*/
});

</script>
{% endblock %} 