{% extends "site.twig" %} 

{% block title %}Draft - More Graphics Visualisation{% endblock %} 
{% block subheader %}Draft - More Graphics Options{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.drafts.twig" with {'navsrc': 'me.draft.group.graphics'} %}
{% endblock %}

{% block content %}

<div class="row-fluid"><div class="span12">

	<div class="widget">
		<div class="widget-header">
			<h3>More Graphics </h3>
		</div>
		<div class="widget-content">
							
		</div>
		</div>

</div></div>

<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>More Text </h3>
		</div>
		<div class="widget-content">
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.dispersion',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Dispersion</a></p>
						
		
	</div></div></div>

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>More Text </h3>
		</div>
		<div class="widget-content">
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.cloud',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Cloud</a></p>
						
					
	</div></div></div>
	
	
</div>


<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>More Text </h3>
		</div>
		<div class="widget-content">
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.structure',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i>Structure Share</a></p>
								
		
	</div></div></div>

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>More Text </h3>
		</div>
		<div class="widget-content">
								<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.target',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Word
							Count ^ Word Limit</a></p>
							
	</div></div></div>
	
	
</div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
{% endblock %}