{% extends "site.twig" %} 

{% block title %}{{ task.name }} v{{ draft.version }} - Graphics Options{% endblock %} 
{% block subheader %}Your Draft : More Graphics Options{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.drafts.twig" with {'navsrc': 'me.draft.group.graphics'} %}
{% endblock %}

{% block content %}

<div class="row-fluid"><div class="span12">

	<div class="widget">
		<div class="widget-header">
			<h2>About</h2>
		</div>
		<div class="widget-content">
				In this page, you can access various graphics representing the different elements of the analysis in different ways.			
		</div>
		</div>

</div></div>




<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h2>Rainbow Diagram</h2>
		</div>
		<div class="widget-content"><p>See a "rainbow diagram" of your essay key word structure.</p><br>
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.rainbow',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Rainbow Diagram</a></p>
						
					
	</div></div></div>
	
	
</div>





<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h2>Dispersion Graph </h2>
		</div>
		<div class="widget-content">See a "dispersion graph" showing the occurrence of key words throughout the essay.
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.dispersion',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Dispersion</a></p>
						
		
	</div></div></div>

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h2>Word Cloud</h2>
		</div>
		<div class="widget-content">See a "word cloud" of the key words in your essay, 
		giving prominence to the words that appear more frequently in it. 
		<span class="brand openessayist">openEssayist</span> thinks these are the topics your essay is discussing the most. 
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.cloud',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Word Cloud</a></p>
						
					
	</div></div></div>
	
	
</div>


<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h2>Word Count</h2>
		</div>
		<div class="widget-content">See a "pie chart" showing the size, in term of word count, of the
different parts of your essay (introduction, discussion, conclusion, ...).
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.structure',{"draft":draft.id}) }}">
						<i class="icon-large icon-bar-chart"></i> Word Count</a></p>
								
		
	</div></div></div>

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h2>Word Limit</h2>
		</div>
		<div class="widget-content">See a "bullet graph" showing how close
			your essay comes to the required number of words for this assignment.
								<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.target',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Word Limit</a></p>
							
	</div></div></div>
	
	
</div>

{% if auth.user.isadmin %}
<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h2>Sentence Networks</h2>
		</div>
		<div class="widget-content">
			<p><a class="btn btn-large"
					href="{{ urlFor('me.draft.view.segraph',{"draft":draft.id}) }}">
					<i class="icon-large icon-sitemap"></i> D3.js</a>
			</p>
			<p><a class="btn btn-large"
					href="{{ urlFor('me.draft.view.cytoscape',{"draft":draft.id}) }}">
					<i class="icon-large icon-sitemap"></i> Cytoscape.js</a>
			</p>
			<p><a class="btn btn-large"
					href="{{ urlFor('me.draft.view.linksgraph',{"draft":draft.id}) }}">
					<i class="icon-large icon-sitemap"></i> CHAP Links Network</a>
			</p>
			<p><a class="btn btn-large"
					href="{{ urlFor('me.draft.view.vivagraph',{"draft":draft.id}) }}">
					<i class="icon-large icon-sitemap"></i> VivaGraph.js</a>
			</p>
			<p><a class="btn btn-large"
					href="{{ urlFor('me.draft.view.sigma',{"draft":draft.id}) }}">
					<i class="icon-large icon-sitemap"></i> Sigma.js</a>
			</p>
			<hr>
			<p><a class="btn btn-large"
					href="{{ urlFor('me.draft.view.voronoi',{"draft":draft.id}) }}">
					<i class="icon-large icon-sitemap"></i> Voronoi D3.js</a>
			</p>
			<p><a class="btn btn-large"
					href="{{ urlFor('me.draft.view.hive',{"draft":draft.id}) }}">
					<i class="icon-large icon-sitemap"></i> HivePlot D3.js</a>
			</p>
			<hr>
			<p><a class="btn btn-large"
					href="{{ urlFor('me.draft.view.matrix',{"draft":draft.id}) }}">
					<i class="icon-large icon-sitemap"></i> Adjacency Matrix (D3.js)</a>
			</p>
						<p><a class="btn btn-large"
					href="{{ urlFor('me.draft.view.chord',{"draft":draft.id}) }}">
					<i class="icon-large icon-sitemap"></i> Chord (D3.js)</a>
			</p>
			
		
	</div></div></div>
{% endif %}
	
	
	
	
</div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
{% endblock %}