{% extends "site.twig" %} 

{% block title %}Draft - More Graphics Visualisation{% endblock %} 
{% block subheader %}Draft - More Graphics Options{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.drafts.twig" with {'navsrc': 'me.draft.group.graphics'} %}
{% endblock %}

{% block content %}

<div class="row-fluid"><div class="span12">

	<div class="widget">
		<div class="widget-header">
			<h3>More Graphics </h3>
		</div>
		<div class="widget-content">
							
		</div>
		</div>

</div></div>

<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>More Text </h3>
		</div>
		<div class="widget-content">lick on the 'key word distribution' button [GO TO ] to see a chart showing
whereabouts in your assignment the key words occur
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.dispersion',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Dispersion</a></p>
						
		
	</div></div></div>

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>More Text </h3>
		</div>
		<div class="widget-content">Click on the 'cloud' button [GO TO ] to see a picture made of some of the words
in
your assignment. openEssayist thinks these are the topics your assignment is
discussing the most. 
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.cloud',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Cloud</a></p>
						
					
	</div></div></div>
	
	
</div>


<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>More Text </h3>
		</div>
		<div class="widget-content">Click on the 'parts' button [GO TO ] to see a pie chart showing the sizes of the
different parts of your assignment. These are the introduction, the conclusion and the
main body of text
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.structure',{"draft":draft.id}) }}">
						<i class="icon-large icon-bar-chart"></i> Structure Share</a></p>
								
		
	</div></div></div>

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>More Text </h3>
		</div>
		<div class="widget-content">Click on the 'wordcount' button [GO TO ] to see a bullet chart showing how close
your assignment comes to the required number of words for this assignment.
								<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.target',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Word
							Count & Word Limit</a></p>
							
	</div></div></div>
	
	
</div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
{% endblock %}