{% extends "site.twig" %} 

{% block title %}{{ task.name }} v{{ draft.version }} - Graphics Options{% endblock %} 
{% block subheader %}Your Draft : More Graphics Options{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.drafts.twig" with {'navsrc': 'me.draft.group.graphics'} %}
{% endblock %}

{% block content %}

<div class="row-fluid"><div class="span12">

	<div class="widget">
		<div class="widget-header">
			<h3>About</h3>
		</div>
		<div class="widget-content">
				In this page, you can access various graphics representing the different elements of the analysis in different ways.			
		</div>
		</div>

</div></div>

<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>Dispersion Graph </h3>
		</div>
		<div class="widget-content">See a "dispersion graph" showing the occurrence of key words throughout the essay.
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.dispersion',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Dispersion</a></p>
						
		
	</div></div></div>

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>Word Cloud</h3>
		</div>
		<div class="widget-content">See a "word cloud" of the key words in your essay, 
		giving prominence to the words that appear more frequently in it. 
		OpenEssayist thinks these are the topics your essay is discussing the most. 
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.cloud',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Cloud</a></p>
						
					
	</div></div></div>
	
	
</div>


<div class="row-fluid">

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>Word Count</h3>
		</div>
		<div class="widget-content">See a "pie chart" showing the size, in term of word count, of the
different parts of your essay (introduction, discussion, conclusion, ...).
						<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.structure',{"draft":draft.id}) }}">
						<i class="icon-large icon-bar-chart"></i> Structure Share</a></p>
								
		
	</div></div></div>

	<div class="span6"><div class="widget">
		<div class="widget-header">
			<h3>Word Limit</h3>
		</div>
		<div class="widget-content">See a "bullet graph" showing how close
			your essay comes to the required number of words for this assignment.
								<p><a class="btn btn-large"
						href="{{ urlFor('me.draft.view.target',{"draft":draft.id}) }}"><i class="icon-large icon-bar-chart"></i> Word
							Count & Word Limit</a></p>
							
	</div></div></div>
	
	
</div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
{% endblock %}