{% extends "site.twig" %} 

{% block title %}Check Configuration{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span10 offset1">
			
		{% for item in configres %}
			<h4>{{ item.msg }}</h4>
			<div class="yim" data-time="{{ item.time|number_format(4) }}"  >
				<pre 
					 class="alert {{ item.code? "alert-success" : "alert-error" }}">
{{ item.res ? item.res : "OK"  }}</pre>
			</div>
		{% endfor %}
		
	</div>
</div>

<div id="notification">
	{% if flash.info %}<div class="alert-box success">{{ flash.info }}</div>{% endif %}
	{% if flash.error %}<div class="alert-box alert">{{ flash.error }}</div>{% endif %}
</div>


{% endblock %}


{% block injectCSS %}
<style>
<!--
pre.alert
{   max-height: 200px;
    overflow-y: auto;
}

div.yim:before
{
content: "t: " attr(data-time) " (s)";
} 

-->
</style>
{% endblock %}