{% extends "widgets/breadcrumb.panel.twig" %}

{% block bccontainer %}
{{ parent() }}

{% if draft is defined %}
<li><a title="Go back to the drafts for this assignment"
		href="{{ urlFor('me.draft.action',{"idt":task.id}) }}">
		<span class="">{{ task.name }}</span></a> 
</li>
	
<li class="active"><span class="">Version {{ draft.version }}</span></li>

{% elseif task is defined %}
<li class="active"><span class="">{{ task.name }}</span></li>
{% endif %}

{% if auth.user.isadmin and task is defined and false  %}
<li class="bc_debug"><div class="btn-group">
	<button class="btn btn-mini disabled " disabled="disabled"><i class="icon-cog"></i></button>
	<button class="btn btn-mini btn-info disabled " disabled="disabled"><i class="icon-book icon-white"></i> {{ task.id }}</button>
	{% if draft is defined %}
    <button class="btn btn-mini btn-info disabled " disabled="disabled"><i class="icon-pencil icon-white"></i> {{ draft.id }}</button>
	{% endif %}
	</div></li>
{% endif %}


{% endblock %}

