<!-- Navbar ================================================== -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<button type="button" class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>

			<a class="brand" href="{{ urlFor('home') }}" title="openEssayist" ><img class="brand-ico" alt="icon"
				src="/assets/openessayist/img/openEssayist-icon.png"><span class="hidden-phone">openEssayist</span></a> 
				
			{% if auth.loggedIn() %}	
			<div class="btn-group pull-right">
					<button id="btn-notepad" title="Open your Notepad" class="btn btn-info"><i class="icon-edit icon-large"></i></button>
				<a class="btn {{ auth.user.isadmin ? "btn-inverse" : ""}} dropdown-toggle" data-toggle="dropdown"
					title="{{ auth.user.username }}" href="#"> <i class="icon-user {{ auth.user.isadmin ? "icon-white" : ""}}"></i>
					<span class="hidden-phone">{{ auth.user.username }}</span> <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Profile</a></li>
					<li class="divider"></li>
					<li><a href="{{ urlFor('logout') }}">Sign Out</a></li>
				</ul>
			</div>

			
			<div class="nav-collapse collapse">
			
				<ul class="nav">
					<li class=""><a href="{{ urlFor('me.home') }}" title="Go to your homepage">
						<i class="icon-home"></i> Dashboard</a>
					</li> 
					{% if auth.user.isadmin %}	
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-placement="bottom" 
								title="Restricted access to administrative tools"
								data-toggle="dropdown">
									<i class="icon-cog"></i> Admin<b class="caret"></b></a>
						<ul class="dropdown-menu">
								<li><a href="{{ urlFor('admin.home') }}">openEssayist</a></li>
							<li class="divider"></li>
								<li class="nav-header visible-desktop">Configuration</li>
								<li><a href="{{ urlFor('admin.users') }}">Users</a></li>
								<li><a href="{{ urlFor('admin.tasks') }}">Assignments</a></li>
						</ul>
					</li> 
					{% endif %}
				</ul>
			</div>
			{% endif %}

		</div>
	</div>
</div>
