<div class="navbar">
	<div class="navbar-inner">
		<span class="brand" >Version {{ draft.id }}</span>
		<ul class="nav">
		
		{% if newnavigation is not defined %}		
			<li class="{{ navsrc == 'me.draft.show' ? 'active' }}"><a
				href="{{ urlFor('me.draft.show',{"draft":draft.id}) }}"><i
					class="icon-large icon-desktop"></i><span class="hidden-phone hidden-tablet"> Overview</span></a>

			<li class="{{ navsrc == 'me.draft.group.texts' ? 'active' }}"><a
				href="{{ urlFor('me.draft.group.texts',{"draft":draft.id}) }}"><i
					class="icon-large icon-file-text"></i><span class="hidden-phone hidden-tablet"> Texts</span></a>

			<li class="{{ navsrc == 'me.draft.group.actions' ? 'active' }}"><a
				href="{{ urlFor('me.draft.group.actions',{"draft":draft.id}) }}"><i
					class="icon-large icon-random"></i><span class="hidden-phone hidden-tablet"> Actions</span></a>
					
			<li class="{{ navsrc == 'me.draft.group.graphics' ? 'active' }}"><a
				href="{{ urlFor('me.draft.group.graphics',{"draft":draft.id}) }}"><i
					class="icon-large icon-bar-chart"></i><span class="hidden-phone hidden-tablet"> Graphics</span></a>
					
		{% else %}
			<li class="{{ navsrc == 'me.draft.show' ? 'active' }}"><a
				href="{{ urlFor('me.draft.show',{"draft":draft.id}) }}"><i
					class="icon-large icon-desktop"></i><span class="hidden-phone hidden-tablet"> Overview</span></a>

					
			<li class="{{ navsrc == 'me.draft.keywords' ? 'active' }}"><a
				href="{{ urlFor('me.draft.keywords',{"draft":draft.id}) }}"><i
					class="icon-large icon-list"></i><span class="hidden-phone hidden-tablet"> Keywords</span></a>

			<li class="{{ navsrc == 'me.draft.act.keyword' ? 'active' }}"><a
				href="{{ urlFor('me.draft.act.keyword',{"draft":draft.id}) }}"><i
					class="icon-large icon-random"></i><span class="hidden-phone hidden-tablet"> Organise</span></a>
					
					
			<li class="{{ navsrc == 'me.draft.sentence' ? 'active' }}"><a
				href="{{ urlFor('me.draft.sentence',{"draft":draft.id}) }}"><i
					class="icon-large icon-tag"></i><span class="hidden-phone hidden-tablet"> Sentences</span></a> {% if
				auth.user.isadmin %}
			
			<li class="{{ navsrc == 'me.draft.stats' ? 'active' }}"><a
				href="{{ urlFor('me.draft.stats',{"draft":draft.id}) }}"><i
					class="icon-large icon-info-sign"></i><span class="hidden-phone hidden-tablet"> Stats</span></a> {% endif %}
					
			
			
			<li class="dropdown {{ 'me.draft.view.' in navsrc ? 'active' }}"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"><i class="icon-large icon-bar-chart"></i> Views
					<span class="caret"></span>
			</a>
				<ul class="dropdown-menu">
					<li class="nav-header">Structure</li>
					<li class="{{ navsrc == 'me.draft.view.structure' ? 'active' }}"><a
						href="{{ urlFor('me.draft.view.structure',{"draft":draft.id}) }}">Word
							Count</a>
					
					<li class="divider visible-desktop"></li>
					<li class="nav-header">Keywords</li>
					<li class="{{ navsrc == 'me.draft.view.dispersion' ? 'active' }}"><a
						href="{{ urlFor('me.draft.view.dispersion',{"draft":draft.id}) }}">Dispersion</a>
					
					<li  class="{{ navsrc == 'me.draft.view.cloud' ? 'active' }}"><a
						href="{{ urlFor('me.draft.view.cloud',{"draft":draft.id}) }}">Cloud</a>
					
					<li><a
						href="{{ urlFor('me.draft.view.kegraph',{"draft":draft.id}) }}">Network</a>
					
					<li class="divider visible-desktop"></li>
					<li class="nav-header">Sentences</li>
					<li><a
						href="{{ urlFor('me.draft.view.segraph',{"draft":draft.id}) }}">Network</a>
					
					<li class="{{ navsrc == 'me.draft.view.matrix' ? 'active' }}"><a
						href="{{ urlFor('me.draft.view.matrix',{"draft":draft.id}) }}">Adjacency
							Matrix</a>
					
					<li class="{{ navsrc == 'me.draft.view.chord' ? 'active' }}"><a
						href="{{ urlFor('me.draft.view.chord',{"draft":draft.id}) }}">Chord</a>
						
					{% if auth.user.isadmin %}
					
					<li class="divider visible-desktop"></li>
					<li class="nav-header">Sandbox</li>

					
					<li  class="{{ navsrc == 'me.draft.view.cytoscape' ? 'active' }}"><a
						href="{{ urlFor('me.draft.view.cytoscape',{"draft":draft.id}) }}">Cytoscape
							Graph</a> 
					{% endif %}
					
					
				
				</ul></li>
				
		{% endif %}				
		</ul>
		{% if helpontask is defined %}
		<ul class="nav pull-right">
			<li class=""><a href="javascript:void(0);" id="hint-on-task"
			rel="tooltip" data-placement="bottom" title="Show Hints on how to exploit this view."><i
					class="icon-large  icon-comments "></i></a></li>
		
		<li class=""><a href="javascript:void(0);" id="help-on-task"
			rel="tooltip" data-placement="bottom" title="Show Help and Hints on how to use this view."><i
					class="icon-large icon-question-sign "></i></a></li>
		</ul>
		{% endif %}
	</div>
</div>
