{% macro toBtn(ngram,showScore=false,isLarge=false,userdefined=false,showPopover=false) %}
	<a class="btn {{ isLarge?"btn-large":"btn-small" }} btn-ngram {{ userdefined?"btn-warning":"" }}" id="{{ ngram.ngram|join("") }}"
		{% if showPopover %}
			data-score="{{ ngram.score|join(',') }}"
			data-source="{{ ngram.source|join(', ') }}"
			data-count="{{ ngram.count }}"
			data-trend="{{ ngram.trend|join(',') }}"
			data-dim={{ ngram.ngram|length }}
			data-toggle="popover"
			data-placement="top"
			data-title="{{ ngram.ngram|join(" ") }}"
		{% endif %}
	>
		<span>{{ ngram.ngram|join(" ") }}</span>
		<span class="label label-info">{{ ngram.count }}</span>
		{% if showScore %}
			<span class="inlinebar">{{ ngram.score|join(',') }}</span>
		{% endif %}
	</a>
{% endmacro %}

{% macro toBtnString(ngram,showScore=false,userdefined=false) %}\
	<a class='btn btn-large btn-ngram {{ userdefined?"btn-warning":"" }}' id="+{{ ngram|raw }}.ngram+">\
		<span class='label label-info'>"+{{ ngram|raw }}.count+"</span>\
		<span>"+{{ ngram|raw }}.ngram+"</span>\
	</a>\
{% endmacro %}

{% macro toBtnExt(ngram,options=null) %}
	<a class="btn {{ options.isLarge?"btn-large":"btn-small" }} btn-ngram {{ options.userdefined?"btn-warning":"" }} {{ options.isDisabled?"disabled" }}" id="{{ ngram.ngram|join("") }}"
		{% if options.showPopover %}
			data-score="{{ ngram.score|join(',') }}"
			data-source="{{ ngram.source|join(', ') }}"
			data-count="{{ ngram.count }}"
			data-trend="{{ ngram.trend|join(',') }}"
			data-dim={{ ngram.ngram|length }}
			data-toggle="popover"
			data-placement="top"
			data-title="{{ ngram.ngram|join(" ") }}"
		{% endif %}
	>
		<span>{{ ngram.ngram|join(" ") }}</span>
		<span class="label label-info">{{ ngram.count }}</span>
		{% if options.showScore %}
			<span class="inlinebar">{{ ngram.score|join(',') }}</span>
		{% endif %}
	</a>
{% endmacro %}