{% extends "site.twig" %} 

{% block title %}Admin / JSON Structure {% endblock %} 

{% block content %}

<div class="row-fluid">
	<div class="span3">
		<div class="widget">
			<div class="widget-header">
				<h3>Database</h3>
			</div>
			<div class="widget-content">
				{% for key in keys %}
				<p><div class="btn-group">
    				<a class="btn" href="#{{ key }}">{{ key }}</a>
    			</div></p>
				
				{% endfor %}
			</div> 
		</div>
	</div>
	
	<div class="span9">
	<div class="widget-content">
	<div><ul>
		{% for key,item in json %}
		<li><code><a id="{{ key }}">{{ key }}</a></code> => 
		{% if key in ['version'] %}
			{{ item |json_encode|raw }}
		{% elseif key in ['body','ke_stats','refs','concl','intro','appendix','se_stats'] %}
		<ul>
			{% for  key2,item2 in item %}
			    <li> <code>{{ key2 }}</code> =>  {{ item2 |json_encode|raw }}
			{% endfor %}
		</ul>
		{% elseif key in ['ke_data'] %}
		<ul>
			{% for  key2,item2 in item %}
			    <li> <code>{{ key2 }}</code> =>  {{ item2 |json_encode|raw }}
			{% endfor %}
		</ul>
		{% endif %}
		</li>
		{% endfor %}
		
	</ul></div>
	</div>
	</div>
</div>
{% endblock %}