
{% extends "site.twig" %} 

{% block title %}Admin / Feedback{% endblock %} 

{% block content %}
<div class="row-fluid">

	<div class="span12"><div class="widget">
		<div class="widget-header">
			<h3>History</h3>
		</div>
		<div class="widget-content" id="activity-log">
		 
		</div> 
		<div class="widget-content" id="event-details"> 
		</div> 
	</div></div>
</div>



{% endblock %}

{% block injectJS %}
	{{ parent() }}
	<script src="{{ app_base }}/assets/links.timeline/timeline.js"></script>
		
	<script id="exhibit-init" type="text/javascript">
	links.Timeline.prototype._do_base = links.Timeline.prototype.unselectItem;
	links.Timeline.prototype.unselectItem = function() {
		this._do_base(); 
	    $('#event-details').hide();
	};

	
	$(document).ready(function() {
        // Instantiate our timeline object.
        var timeline = new links.Timeline(document.getElementById('activity-log'));
	
		function onselect() {
			  var sel = timeline.getSelection();
			  
			  if (sel.length) {
			    if (sel[0].row != undefined) {
			      var row = sel[0].row;
			      var gg = timeline.getItem(row);
			      var hh = timeline.getData()[row];
			      //console.log(gg,hh);
			      $('#event-details').text(JSON.stringify(hh));
			      $('#event-details').show();
			    }
			  }
			}

		$.getJSON("{{ urlFor('admin.data.logs') }}", function( data ) {
			var items = [];
			 $.each( data.items, function( key, val ) {
				 val.start = new Date(val.date);
				 val.content = val.username;
				 val.className = val.username;
				 val.group =  val.username;
				 items.push( val );
				 });

	          
	             
			 // specify options
	        var options = {
	          width:  "100%",
	          height: "500px",
	          style: "box",
	          showNavigation: true,
              showButtonNew: true,          
              eventMargin: 30,  // minimal margin between events
               
              enableKeys: true,
	          min: new Date(2013, 02, 01),
              max: new Date(2013, 11, 31),
              cluster: true,
              //axisOnTop: true,
	        };


	        // Draw our timeline with the created data and options
	        timeline.draw(items, options);
	        links.events.addListener(timeline, 'select', onselect);	
			
			});
	
	});
	</script>
{% endblock %} 


{% block injectCSS %}
{{ parent() }}
 	<link rel="stylesheet" type="text/css" href="{{ app_base }}/assets/links.timeline/timeline.css">
 	<style>
<!--
div.timeline-event.admin {
    background-color: #F6D6D6;
    border-color: #F89898;
}

div.timeline-event.demo {
    background-color: #D8F6D6;
    border-color: #98F89E;
}
-->
</style>
{% endblock %} 

