
{% extends "site.twig" %} 

{% block title %}Admin / Feedback{% endblock %} 

{% block content %}
<div class="row-fluid">

	<div class="span12"><div class="widget">
		<div class="widget-header">
			<h3>History</h3>
		</div>
		<div class="widget-content" id="activity-log">
		 
		</div> 
		<div class="widget-content" id="event-details"> 
		</div> 
	</div></div>
</div>



{% endblock %}

{% block injectJS %}
	{{ parent() }}
	<script src="{{ app_base }}/assets/links.timeline/timeline.js"></script>
		
	<script id="exhibit-init" type="text/javascript">
	var timeline = null;
	links.Timeline.prototype._do_base = links.Timeline.prototype.unselectItem;
	links.Timeline.prototype.unselectItem = function() {
		this._do_base(); 
	    $('#event-details').hide();
	};

	    
	// specify options
	var options = {
		width:  "100%",
		height: "500px",
		style: "box",
		showNavigation: true,
		showButtonNew: true,
		eventMargin: 30,  // minimal margin between events
		enableKeys: true,
		min: new Date(2013, 02, 01),
		max: new Date(2013, 11, 31),
		cluster: true,
		axisOnTop: true,
	};

	function onselect() {
		if (!timeline) return;
		var sel = timeline.getSelection();
		  
		if (sel.length) {
			if (sel[0].row != undefined) {
		    	var row = sel[0].row;
		      	var gg = timeline.getItem(row);
		      	var hh = timeline.getData()[row];
		      	$('#event-details').text(JSON.stringify(hh));
		      	$('#event-details').show();
		    }
		}
	}

	{% block config %}
	$(document).ready(function() {
        // Instantiate our timeline object.
        timeline =new links.Timeline(document.getElementById('activity-log'));

        $.getJSON("{{ urlFor('admin.data.logs') }}", function( data ) {
			var items = [];
			 $.each( data.items, function( key, val ) {
				 if (val.action!="ACTION.LOGIN") return;
				 
				 val.start = new Date(val.date);
				 val.content = val.username;
				 val.className = val.username;

				 grp =  val.username.split(/[0-9]+/);
				 //val.group =  grp[0];

				 items.push( val );
				 });

			// Draw our timeline with the created data and options
	        timeline.draw(items, options);
	        links.events.addListener(timeline, 'select', onselect);	
	        /*$( "#activity-log" ).resizable({ 
		        ghost: true, 
		        handles: "s",
		        stop: function( event, ui ) {
		        	timeline.checkResize();
			        }
			});*/
		});
	
	});
	</script>
	{% endblock %}
{% endblock %} 


{% block injectCSS %}
{{ parent() }}
 	<link rel="stylesheet" type="text/css" href="{{ app_base }}/assets/links.timeline/timeline.css">
 	<style>
<!--
div.timeline-event.admin {
    background-color: #F6D6D6;
    border-color: #F89898;
}

div.timeline-event.demo {
    background-color: #D8F6D6;
    border-color: #98F89E;
}
-->
</style>
{% endblock %} 

