
{% extends "site.twig" %} 

{% block title %}Admin / Feedback{% endblock %} 

{% block content %}
<div class="row-fluid">

	<div class="span12"><div class="widget">
		<div class="widget-header">
			<h3>History</h3>
		</div>
		<div class="widget-content" id="activity-log">
		 
		</div> 
		<div class="widget-content" id="event-details"> 
		</div> 
	</div></div>
</div>



{% endblock %}

{% block injectJS %}
	{{ parent() }}
	<script src="{{ app_base }}/assets/links.timeline/timeline.js"></script>
		
	<script id="exhibit-init" type="text/javascript">
	var timeline = null;
	links.Timeline.prototype._do_base = links.Timeline.prototype.unselectItem;
	links.Timeline.prototype.unselectItem = function() {
		this._do_base(); 
	    $('#event-details').hide();
	};

	    
	// specify options
	var options = {
		width:  "100%",
		height: "auto",
		style: "dot",
		showNavigation: true,
		showButtonNew: false,
		//eventMargin: 30,  // minimal margin between events
		enableKeys: true,
		min: new Date(2013, 02, 01),
		max: new Date(2013, 11, 31),
		cluster: false,
		axisOnTop: true,
	};

	{% block config %}
	function onselect() {
		if (!timeline) return;
		var sel = timeline.getSelection();
		  
		if (sel.length) {
			if (sel[0].row != undefined) {
		    	var row = sel[0].row;
		      	var gg = timeline.getItem(row);
		      	var hh = timeline.getData()[row];

		      	var msg = $.parseJSON(hh.message);
		      	$('#event-details').text(msg.user_agent);
		      	$('#event-details').show();
		    }
		}
	}

	function updateUserLinks()
	{
		$(".timeline-groups-text").each(function(i,e) {
			var username = $(this).text();
			$(this).empty().append(
					$('<a/>', {
						href: "{{ urlFor('admin.logs') }}/" + username + "/" ,
						title: 'Become a Googler',
						text: username
					}));
		});
	}

	function onReady() {
		console.log("READY");
		updateUserLinks();
	}
	
	
	function onTimeChanged() {
		updateUserLinks();
	}
	
	$(document).ready(function() {
        // Instantiate our timeline object.
        timeline =new links.Timeline(document.getElementById('activity-log'));

        $.getJSON("{{ urlFor('admin.data.logs') }}", function( data ) {
			var items = [];
			 $.each( data.items, function( key, val ) {
				 if (val.action!="ACTION.LOGIN") return;
				 //if (val.username == "admin") return;
				 if (val.username == "anon") return;
				 if (val.username.indexOf("safesea")!=-1) return;
				 val.start = new Date(val.date);
				 //val.end = new Date(val.start.getTime() + 60000);
				 val.content = val.username;
				 val.className = val.username;

				 grp =  val.username.split(/[0-9]+/);
				 val.group =  grp[0];
				 val.group =  val.username;

				 items.push( val );
				 });

			// Draw our timeline with the created data and options
	        timeline.draw(items, options);
	        links.events.addListener(timeline, 'select', onselect);	
	        links.events.addListener(timeline, 'rangechanged', onTimeChanged);
	        updateUserLinks();
		});
	
	});
	</script>
	{% endblock %}
{% endblock %} 


{% block injectCSS %}
{{ parent() }}
 	<link rel="stylesheet" type="text/css" href="{{ app_base }}/assets/links.timeline/timeline.css">
 	<style>
<!--
div.timeline-event.admin {
    background-color: #F6D6D6;
    border-color: #F89898;
}

div.timeline-event.demo {
    background-color: #D8F6D6;
    border-color: #98F89E;
}

div.timeline-event-dot-container > .timeline-event-content
{
	width: 0px;
}

div.timeline-event-dot-container.timeline-event-cluster > .timeline-event-content
{
	width: inherit;
}
-->
</style>
{% endblock %} 

