{% extends "site.twig" %} 

{% block title %}Home{% endblock %} 
{% block subheader %}Your Group Homepage{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.panel.twig" with {'navsrc': 'me.group'} %}
{% endblock %}


{% block navsubheader %}
<div class="navbar">
    <div class="navbar-inner">
    	<span class="brand" >{{ group.name }}</span>
    	<ul class="nav">
 			<li><a title="Go to your assignments and drafts" 
 					href="{{ urlFor('me.tasks') }}" rel="tooltip" data-placement="bottom">
				<i class="icon-folder-open icon-large"></i> 
				<span class="hidden-phone hidden-tablet">Assignments</span>
			</a></li>

    	</ul>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="span12"><div class="widget">
	<div class="widget-header">
		<h2>History</h2>
	</div>
			
	<div class="widget-content">
	
	
			<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th width="15%">Date</th>
						<th>Username</th>
						<th>Task</th>
						<th class="td-actions">Draft</th>
						<th class="td-actions">Words</th>
					</tr>
					<tr>
						<td></td>
						<td><input type="text" name="search_platform" placeholder="Search Username" data-column=1 class="search_init" /></td>
						<td><input type="checkbox" name="search_version" placeholder="Search Active" value="on" class="search_init" /></td>
						<td><input type="text" name="search_grade" placeholder="Search Draft Number" data-column=3 class="search_init" /></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
									
					{% for item in items %}
					<tr>
						<td>{{ item.date }}</td>
						<td>{{ item.username }}</td>
						<td>{{ item.task }}</td>
						<td>{{ item.version }} {{ item.name ? "("~ item.name ~")" }}</td>
						<td>{{ item.words }}</td>
					</tr>
					{% endfor  %}
				</tbody>
				</table>
	

	</div>
	
</div></div>
</div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
<script src="{{ app_base }}/assets/jquery.sparkline/jquery.sparkline.js"></script>
<script src="{{ app_base }}/assets/jquery.dataTables/js/jquery.dataTables.js"></script>
<script src="{{ app_base }}/assets/jquery.dataTables/js/plugin.dataTableExt.js"></script>
<script src="{{ app_base }}/assets/jquery.dataTables/js/plugin.paging.js"></script>
	
	<script id="keyword-popover">
$(document).ready(function() {
	/*$('.barsparklinedd').sparkline('html', {
	    type: 'bar',
	    zeroAxis: false,
	    height: 50,
	    barWidth: 25,
	    chartRangeMin: 0,
	    zeroColor: '#ffffff',
	    colorMap: ["red","red","green"]
	}); */

	$('table.table').dataTable( {
		//"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
		"sDom": "<'row-fluid'<'span6'l>r>t<'row-fluid'<'span6'i><'span6'p>>",
		"bPaginate": true,
        "bLengthChange": true,
        "bFilter": true,
        "bSortCellsTop": true,
        "bInfo": true,
        "bAutoWidth": true,
        "aaSorting": [[ 0, "desc" ]],
        "aoColumnDefs": [
			{ "sType": "date", "aTargets": [ 0 ]}
             		],
        "sPaginationType": "bootstrap",
        "fnInitComplete": function () {
        	var that = this;
   
        	this.find("input:text").each(function(idx, elt) {
            	var index = $(elt).data( "column" );
        		if (index) $(elt).keyup( function () {
	        		// Filter on the column (the index) of this element 
	        		that.fnFilter( this.value, index);
        			} );
            });
        	
            

                
        }
	});
	
});
</script>
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
<style type="text/css">
			

table.table thead th .sorting,
table.table thead th .sorting_asc,
table.table thead th .sorting_desc,
table.table thead th .sorting_asc_disabled,
table.table thead th .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table th.sorting:after,
table.table th.sorting_asc:after,
table.table th.sorting_desc:after 
{ float: right;}
table.table th.sorting:after { font-family: FontAwesome; content: "   ";}
table.table th.sorting_asc:after { font-family: FontAwesome; content: "   ";}
table.table th.sorting_desc:after { font-family: FontAwesome; content: "   ";}

table.table th.sorting_asc_disabled {  }
table.table th.sorting_desc_disabled { }	

div.dataTables_paginate, div.dataTables_filter {
	float: right;
	margin: 0;
}

td input.search_init
{
	margin-bottom: 0px;
	padding: 0 2px;
	font-size: 11px;
}

	
</style>
{% endblock %}