{% extends "site.twig" %} 

{% block title %}Group / {{ task.id ? "Task "~task.name : "New Task" }} {% endblock %} 
{% block subheader %}Your Group's Tasks{% endblock %} 

{% block breadcrumb %}{% endblock %} 

{% block content %}

<div class="row-fluid">
<div class="span12">

	<div class="widget">
		<div class="widget-header">
			{% if task.id %}
				<h3>Edit the content of task "{{ task.name }}"</h3>
			{% else %}
				<h3>Edit the content of a new task</h3>
			{% endif %}
		</div>
					
		<div class="widget-content">
		
		<form name="post_task" method="post" class="form-horizontal">
		
		<input type="hidden" id="code" name="code" value="{{ task.code }}">
		
		 <div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" id="name" name="name" placeholder="name" value="{{ task.name }}" required="required">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="assignment">Assignment</label>
			<div class="controls">
				<textarea style="max-width: 90%; width: 90%; resize: vertical;" rows="15" name="assignment" id="assignment" placeholder="description">{{ task.assignment }}</textarea> 
			</div>
		</div>
		<div class="control-group">
		 	<label class="control-label" for="date">Deadline</label>
		 	<div class="controls">
			<div class="input-append  date" id="dp3" data-date="{{ task.deadline }}" data-date-format="yyyy-mm-dd">
				<input class="" id="date" name="date" type="text" value="{{ task.deadline }}" required="required">
				<span class="add-on"><i class="icon-calendar"></i></span>
			  </div>
		 	</div>
		</div>
		 <div class="control-group">
			<label class="control-label" for="wordcount">Word Limit</label>
			<div class="controls">
				<input type="text" id="wordcount" name="wordcount" placeholder="number of words" value="{{ task.wordcount }}" required="required">
			</div>
		</div>
		 <div class="control-group">
			<label class="control-label" for="isopen">Task Open</label>
			<div class="controls">
				<input type="checkbox" id="isopen" name="isopen" value="Yes" {{ task.isopen?"checked" }}>
				<span class="help-block" id="help-text">
				Once a task is closed, users can still explore their content (draft, analysis) but cannot
				make changes or submit a new draft for analysis 
		</span>
			</div>
			
		</div>
		<div class="form-actions">
			<button class="btn btn-primary" type="submit" name="action" value="Submit">Save</button> 
		</div>
		</form>
		</div>
	</div>
</div>
</div>

{% endblock %} 

{% block injectCSS %}
	{{ parent() }}

<link href="{{ app_base }}/assets/bootstrap.datepicker/css/datepicker.css" rel="stylesheet">
{% endblock %}

{% block injectJS %}
	{{ parent() }}
<script src="{{ app_base }}/assets/bootstrap.datepicker/js/bootstrap-datepicker.js"></script>
<script>
	$(document).ready(function() {
		// initialise the code highlighting
		$('#dp3').datepicker();
	});
	</script>
{% endblock %} 