<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
	<title>{% block title %}{% endblock %} - openEssayist</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="Nicolas Van Labeke (IET - Open University)">

	<!-- Le styles -->
	{#
	<link href="{{ app_base }}/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="{{ app_base }}/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{ app_base }}/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" >
	<link href="{{ app_base }}/assets/jquery-ui-1.9.2.custom/css/bootstrap/jquery-ui-1.9.2.custom.css" rel="stylesheet">
	<link href="{{ app_base }}/assets/jquery-tour/css/theme4/style.css" rel="stylesheet" title="jTour" >
	#}
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
	<link href="{{ app_base }}/assets/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" />
	<link href="{{ app_base }}/assets/openessayist/css/application.css" rel="stylesheet">
	{% block injectCSS %}
	{% endblock %}

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<!-- Le fav and touch icons -->
	<link href="{{ app_base }}/assets/openessayist/img/favicon.ico" rel="shortcut icon" >
	<style>
	/* Sticky footer styles
      -------------------------------------------------- */
	html,body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -40px;
      }

      /* Set the fixed height of the footer here */
      #push {
        height: 30px;
      }

      footer.footer {
        height: 31px;
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container .credit {
        margin: 20px 0;
      }

</style>
{% endblock %}
</head>
<body>
	<a id="ou-skip" href="#ou-content">Skip to content</a>
	<div id="wrap" class="page-container">
	{% block navbar %}
		{% include "widgets/navbar.panel.twig" %}
	{% endblock %}


	<!-- Content ================================================== -->
	<div class="container" id="main">


		{% block breadcrumb %}
		<div class="breadcrumb">
			<ul class="breadcrumb" role="navigation" aria-label="breadcrumb">{% block bccontainer %}{% endblock %}</ul>
			<h1 class="subdhead">{% block subheader %}{% endblock %}</h1>
			<div class="navbarhead" role="navigation" aria-label="page navigation">{% block navsubheader %}{% endblock %}</div>
			</div>
		{% endblock %}

		<div class="row-fluid anchor" id="ou-content" role="main">
			<div class="span12" style="min-height: 150px;">

			{% block notification %}
				<div class="row-fluid">
					{% if flash.info %}
						<div class="span10 offset1 alert-box alert alert-info" id="notification">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ flash.info|raw }}
						</div>
					{% endif %}{% if flash.error %}
						<div class="span10 offset1 alert-box alert alert-error" id="notification">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ flash.error|raw }}
						</div>
					{% endif %}{% if flash.tutor %}
						<div class="span10 offset1 alert-block alert alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<h4>Help on the task</h4>
							<hr>
							{{ flash.tutor|raw }}
						</div>
					{% endif %}
				</div>
			{% endblock %}

			{% block content %}{% endblock %}
			</div>


		</div>

		{% block debug %}{% endblock %}

	</div>
	<div id="push"></div>
</div>
	{% block toolcontainer %}
	{% endblock %}


	<!-- Footer ================================================== -->
	<footer class="footer" role="contentinfo">
		<div class="container">
		{% block footer %}
			<p><span class="brand openessayist">openEssayist v{{ constant('VERSION') }}</span>  -
				<span class="hidden-phone hidden-tablet">Designed and built by </span>
				<a href="https://github.com/vanch3d" target="_blank"><i class="icon-github icon-large icon-dark"></i> vanch3d</a>
				for the
				<a href="http://www.open.ac.uk/researchprojects/safesea/" target="_blank">SAFeSEA</a>
				project.
			</p>
			<p class="pull-right">
				<a href="#"><i class="icon-chevron-sign-up"></i> Back to top</a>
			</p>
			{% endblock %}
		</div>
	</footer>



	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!--[if lt IE 9]>
		<script src="{{ app_base }}/assets/openessayist/js/aight.min.js"></script>
	<![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	{#
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="{{ app_base }}/assets/jquery-ui-1.9.2.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="{{ app_base }}/assets/bootstrap/js/bootstrap.js"></script>
	<script src="{{ app_base }}/assets/jquery-tour/js/jTour.js"></script>
	<script src="{{ app_base }}/assets/log4javascript-1.4.6/log4javascript.js"></script>
	#}
	<script src="{{ app_base }}/assets/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
	{#<script src="{{ app_base }}/assets/bootstrap-modal/js/bootstrap-modal.js"></script>#}
	<script src="{{ app_base }}/assets/dotdotdot-1.6.3/jquery.dotdotdot.min.js"></script>
	<script src="{{ app_base }}/assets/openessayist/js/openessayist.core.js"></script>

	<script id="openessayist-init" type="text/javascript">
	$(document).ready(function() {
		// Set the URL for the AJAX-based activity logging
		openEssayist.LOG_URL = "{{ urlFor('ajax.log.activity') }}";



		// Activate the Bootstrap's tooltips
		if ($("[rel=tooltip]").length) {
		        $("[rel=tooltip]").tooltip({container: 'body'});
		    }

		// fix for changing aria-expanded status on dropdown
		 $(".btn[data-toggle='collapse']").on('click', function () {
				 clp = $(this).hasClass("collapsed");
				 console.log("collapse : " + clp);
				 $(this).attr('aria-expanded',clp);
		 });
		 $("[data-toggle='dropdown']").on('click', function () {
				 clp = $(this).parent(".dropdown").hasClass("open");
				 console.log("collapse : " + clp);
				 $(this).attr('aria-expanded',!clp);
		 });

		// Fix for preventing scrolling behind the overlay, when in modals.
	    $(".modal").on('show', function () {
	    	$('body').css('overflow', 'hidden');

	    	// fix for setting focus on labels containing checkbox
	    	$('.modal-body :input').focus(function() {
	    		$(this).parent("label.checkbox").css('outline', 'thin dotted #333333');
	    		$(this).parent("label.checkbox").css('outline-offset', '2px');

		    });
	    	$('.modal-body :input').blur(function() {
	    		$(this).parents("label.checkbox").css('background-color', 'inherit');
	    		$(this).parents("label.checkbox").css('outline', 'none');
			});

	    	$('input:text:visible:first').focus();



	    });
		$(".modal").on('hidden', function () {
	    	$('body').css('overflow', 'auto');
	    });
	});
	</script>
	{% block injectJS %}
	{% endblock %}

</body>
</html>
