{% extends "site.twig" %} 

{% block title %}Home{% endblock %} 
{% block subheader %}Your Homepage{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.panel.twig" with {'navsrc': 'me.home'} %}
{% endblock %}


{% block navsubheader %}
<div class="navbar">
    <div class="navbar-inner">
    	<span class="brand" href="#">&nbsp;</span>
    	<ul class="nav">
 			<li><a title="Go to your assignments and drafts" 
 					href="{{ urlFor('me.tasks') }}" rel="tooltip" data-placement="bottom">
				<i class="icon-folder-open icon-large"></i> 
				<span class="hidden-phone hidden-tablet">Assignments</span>
			</a></li>

    	</ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row-fluid">
<div class="span12"><div class="widget">
	<div class="widget-header">
		<h2>To start</h2>
	</div>
			
	<div class="widget-content">
	
	
	<div class="row-fluid">	


					<a class="quick-button span2" title="Go to your assignments and drafts" 
 						rel="tooltip" data-placement="bottom"
 						href="{{ urlFor('me.tasks') }}">
							<i class="icon-folder-open"></i>
							<p>Assignments</p>

				</a>
				
				{#<a class="quick-button metro black span2">
					<i class="icon-pencil"></i>
					<p>Your last draft</p>
					<span class="badge">v8</span>
				</a>#}
				
				<div class="clearfix"></div>
								
			</div>
	
	</div>

	
	
	
</div></div>
</div>

<div class="row-fluid">

<div class="span4"><div class="widget">
	<div class="widget-header" >
		<h2>Activity Log</h2>
	</div>
			
	<div class="widget-content widget-log">
		{% for item in activity[:10] %}
		
		<div class="body">
			<div class="time">
				<i class="icon-time"></i>
				<span class="green">{{ item.datesince }}</span>
			</div>
			
			<div class="text">
			<a title="Go to this draft" href="{{ urlFor('me.draft.show',{"draft":item.id}) }}">Version {{ item.version }}</a> 
			of your draft for 
			<a href="{{ urlFor('me.draft.action',{"idt":item.task_id}) }}">{{ item.task }}</a>
    		has been analysed.
			</div>
			{#<div class="tools">
				<a class="btn btn-mini btn-info"
							title="Go to this draft"
							rel="tooltip" data-placement="bottom" 
							href="{{ urlFor('me.draft.show',{"draft":item.id}) }}">
					<i class="icon-only icon-share-alt"></i></a>
			</div>#}
		</div>

		{% else %}
	    <div class="alert">
    		No activity yet.
    	</div>
		{% endfor %}		
	</div>
	
</div></div>	

<div class="span8"><div class="widget">
	<div class="widget-header">
		<h2>Getting Help and Support</h2>
	</div>
			
	<div class="widget-content">
		<h3>Help within the system</h3>
		<div class="row-fluid">
			
			<a a href="{{ urlFor('system.help') }}" class="btn btn-large span2 offset1"
				rel="tooltip" data-placement="bottom" title="Go to the help pages" >
			<i class="icon-large icon-question-sign "></i> <div>Help</div></a>
		
			<div class="span8 offset1">
				<p>For a description of the content of the different aspects of the system,
					check the help pages. The command is always available on the top 
					navigation bar. In some pages, the section specific to that page will also be available
					by a button on the page navigation bar.</p>
			</div>
		</div>
		
		<hr>	

		<div class="row-fluid">
			
			<button class="btn btn-large span2 offset1 disabled" id="help-on-task" 
					disabled="disabled">
				<i class="icon-large icon-comments "></i> Hints</button>
		
			<div class="span8 offset1">
				<p>Once you are exploring your drafts and their analyses, you will have access 
					to some hints on how to use the analysis, interpret the results and exploit 
					them for revising your essay. Look for the <strong><i class="icon-large icon-comments "> </i> Hints</strong> button
					in the page navigation bar. 
				</p>
								<div class="alert  alert-success ">
					<p>We are strongly encouraging you to make use of them.</p>
				</div>	
			</div>

		</div>	
		
		
		
		<h3>Help outside the system</h3>
	
		{% if group.url is not null  %}
		<div class="row-fluid">
			<a class="btn span4" href="{{ group.url }}"
				rel="tooltip" data-placement="bottom" 	
				title="Go to the {{ group.name }} Technical Self Help Forum">
				<i class="icon-2x icon-group"></i> 
					<div>Self Help Forum</div>
			</a>
			<div class="span8">
				<p> On the Open University page for the course (Study planner), you will find a <strong>Technical Self Help Forum</strong> where questions about 
					openEssayist can be asked to other users. </p>
				<div class="alert  alert-success ">
					<p>This is you primary source for help, as problems can be shared and solved for everybody's benefit. 
				</div>					
				
				
			</div>
		
		</div>
		<hr>	
		{% endif %}
		
		{% if group.email is not null %}
		<div class="row-fluid">
			<a class="btn span4" href="mailto:{{ group.email }}" 
				rel="tooltip" data-placement="bottom" 
				title="Send an email to the SAFeSEA team">
					<i class="icon-2x icon-envelope"></i> 
				<div>Email</div>
			</a>
			
	
			<div class="span8">
				<p>Finally, we have a dedicated email for <span class="brand openessayist">openEssayist</span>, which you can use to contact us about the system.  
				</p>
				<div class="alert  alert-error ">
    				<p>To use for emergencies only</p>
    				</div>
				<p></p>
			</div>

		</div>
		{% endif %}
	</div>
	
	
</div></div>


						
</div>

{% endblock %}

{% block injectJS %}
	{{ parent() }}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
<style>
.widget-log > .body {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDE4ED;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 2px;
    margin-right: 1px;
    margin-bottom: 6px;
    padding: 5px 8px 8px;
    position: relative;
    background-color: #f9f9f9;
}	

.widget-log > .body > .text {
    display: block;
    font-size: 13px;
    margin-top: 15px;
    padding-left: 2px;
    position: relative;
}
	
.widget-log > .body > .time {
    float: right;
    position: absolute;
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: bold;
    right: 9px;
    top: 0;
}	

.widget-log > .body > .tools {
    bottom: 2px;
    position: absolute;
    right: 2px;
}
	
.notification {
    border-radius: 50em 50em 50em 50em;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 1px rgba(255, 255, 255, 0.3) inset;
    color: white !important;
    height: 16px;
    line-height: 16px;
    padding: 6px 10px;
    position: absolute;
    right: -12px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    top: -12px;
}
.notification-small {
    border-radius: 50em 50em 50em 50em;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 1px rgba(255, 255, 255, 0.3) inset;
    color: white !important;
    padding: 2px 7px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
}
.notification-small, .notification {
    background-color: #67C2EF;
    background-image: -moz-linear-gradient(center top , #ACDDF5, #66C1EF);
    border-color: #2FABE9;
}
.notification-small.green, .notification.green {
    background-color: #78CD51;
    background-image: -moz-linear-gradient(center top , #A6DC8D, #78CC51);
    border-color: #5AAD34;
}
.notification-small.yellow, .notification.yellow {
    background-color: #FABB3D;
    background-image: -moz-linear-gradient(center top , #FBD587, #FABB3D);
    border-color: #F4A506;
}
.notification-small.red, .notification.red {
    background-color: #FA603D;
    background-image: -moz-linear-gradient(center top , #FB9C87, #FA5F3D);
    border-color: #FA5833;
}

	
.quick-button {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FAFAFA, #EFEFEF);
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    color: #646464;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-bottom: -1px;
    padding: 30px 0 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease 0s;
    
}

.quick-button:active,.quick-button:hover,.quick-button:focus 
{
text-decoration: none;
} 


.quick-button:hover {
    border-color: #A5A5A5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    color: #005580;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    transition: all 0.3s ease 0s;
}
.quick-button:hover .notification {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease 0s;
}
.quick-button i {
    font-size: 32px;
}


</style>
{% endblock %}