{% extends "site.twig" %} 

{% block title %}{{ task.name }} Drafts{% endblock %} 
{% block subheader %}Manage Your Drafts for {{ task.name }}{% endblock %} 


{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.tasks.twig" with {'navsrc': 'me.draft.action'} %}
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
<style>
#demo-trigger h2:before {
	content: "Hide "
}
#demo-trigger.collapsed h2:before {
	content: "Show "
}
</style>
{% endblock %}

{% block content %}
<div class="row-fluid"><div class="span12">
<div class="widget collapsed" id="demo-trigger" data-toggle="collapse" data-target="#demo" style="cursor: pointer;">
			<div class="widget-header" title="Expand or collapse the details">
				<h2>Assignment Information</h2>
				<div class="box-icon">
					<a class="btn-setting" ><i class="icon-chevron-down"></i></a>
				</div>
			</div>
			</div> 

</div></div>

<div class="row-fluid collapse" id="demo">
	<div class="span2">
		<div class="widget">
			<div class="widget-header">
			<h3> {{ group.name }}</h3>
			</div>
			<div class="widget-content"> 
					<p> 
					{{ group.description|length > 90 ? group.description|slice(0, 90) ~ '...' : group.description  }}</p>
				</div> 
		</div>
	</div>
	<div class="span8">
		<div class="widget">
			<div class="widget-header">
			<h3> Assignment</h3>
			</div>
			<div class="widget-content"> 
					<p>{{ task.assignment|nl2br}} </p>
				</div> 
		</div>
	</div>
	<div class="span2">
		<div class="widget">
			<div class="widget-header">
			<h3> Deadline </h3>
			</div>
			<div class="widget-content"> 
					<p>{{ task.deadline}}</p>
			</div> 
		</div>
		<div class="widget">
			<div class="widget-header">
				<h3> Word Limit</h3>
			</div>
			<div class="widget-content"> 
				<p>{{ task.wordcount}}</p>
			</div> 
		</div>
	</div>	
</div>

{% if not task.isopen  %}
<div class="alert alert-block alert-error"><div class="row-fluid">
	<span class="icon-stack span2 icon-2x" style="color:black;" title="{{ task.isopen? "This is open" : "this is closed" }}">
		<i class="{{ task.isopen? "icon-circle  icon-stack-base" : "icon-ban-circle icon-stack-base text-error  icon-flip-vertical " }}"></i>
	  	<i class="{{ task.isopen? "icon-pencil icon-light" : "icon-pencil" }}"></i>
	</span>	
		
	<div class="span10">
		<h2>This assignment is closed.</h2>
		<p>You can still explore its content, including all the drafts you wrote and their analysis, 
			but you will not be able to change any of their content.</p>
	</div>
</div></div>
{% endif %}

{% if drafts|length == 0  or auth.user.isadmin %}
<div class="row-fluid"><div class="span12">
<div class="widget">
			<div class="widget-header">
			<h2>To analyse a draft</h2>
			</div>
			<div class="widget-content"> 
				<p>Before going further, you need to have a draft of your assignment ready for analysis.</p>
				<p>It does not have to be complete, just with enough text for the system to extract key words, key sentences and such.</p>
				<p>Since openEssayist does not support online editing, make sure you have your text handy in a format you can easily copy from and paste into the system.</p>
				<p>Once ready, go and use the "New draft" command.</p>
				<p><a class="btn btn-large span3" title="Analyse a first draft for this assignment"
					href="{{ urlFor('me.draft.submit',{"idt":task.id}) }}" rel="tooltip" data-placement="bottom">
				<i class="icon-large icon-upload-alt"></i> New draft</a></p>
			</div> 
		</div>

</div></div>
{% endif %}
{% if drafts|length == 1 or auth.user.isadmin %}
<div class="row-fluid"><div class="span12">
<div class="widget">
			<div class="widget-header">
			<h2>To review your first draft</h2>
			</div>
			<div class="widget-content"> 
				<p>You recently had a first draft (Version {{drafts[0].version }}, "{{drafts[0].name }}") analysed by openEssayist.</p>
				<p>
					OpenEssayist has extracted key words, key sentences and other information from your text. 
					All this information will be presented in various forms, giving you matters to explore, 
					reflect on, and - ultimately - exploit to revise your essay.
				</p> 
				<p>You can go to the analysis here: </p>
				<p>
				<a class="btn btn-large span3"  
						title="Go to the analysis of your first draft" 
						rel="tooltip" data-placement="bottom"
						href="{{ urlFor('me.draft.show',{"draft":drafts[0].id}) }}">
					<i class="icon-large icon-pencil"></i> Version {{drafts[0].version }}</a>    					
    					</p>
			</div> 
		</div>

</div></div>
{% endif %}
{% if drafts|length >= 2 or auth.user.isadmin %}
<div class="row-fluid"><div class="span12">
<div class="widget">
			<div class="widget-header">
			<h2>To review your essay and your drafts</h2>
			</div>
			<div class="widget-content"> 
			<div class="clearfix ">
				<p>You have analysed several drafts so far.</p>
				<p>You can always go and review the analysis of the latest draft (Version {{drafts[0].version }}, "{{drafts[0].name }}") here: </p>
				<p>
				<a class="btn btn-large span3"
						title="Show the analysis of the latest draft" 
						rel="tooltip" data-placement="bottom"
					 	href="{{ urlFor('me.draft.show',{"draft":drafts[0].id}) }}">
					<i class="icon-large icon-pencil"></i> Version {{drafts[0].version }}</a>    					
    			</p>
    		</div><div class="clearfix ">
				<p>Alternatively, You can go and check previous drafts and their analysis: </p>
				<p><a class="btn btn-large span3"  title="Show all the drafts analysed for this assignment"
    				href="{{ urlFor('me.draft.history',{"idt":task.id}) }}" rel="tooltip" data-placement="bottom">
				<i class=" icon-large icon-archive"></i> History</a></p>
    		</div> </div> 
		</div>

</div></div>
{% endif %}


{% endblock %}