{% extends "site.twig" %} 

{% block title %}Add a new draft {% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.panel.twig" %}
	    <li><div class="btn-group">
    	<a href="{{ urlFor('me.drafts',{"idt":task.id}) }}" class="btn btn-small" >
    		<i class="icon-pencil"></i><span class="hidden-phone hidden-tablet"> {{ task.name }}</span></a>
	</div></li>
	
{% endblock %}

{% block content %}


<div class="row-fluid">

<div class="span9">

	<div class="widget">
		<div class="widget-header">
			<i class="icon-pencil"></i>
			<h3>Submit a new draft</h3>
		</div> <!-- /widget-header -->
					
	<div class="widget-content">

<form name="post_essay" id="post_essay" method="post" class="form-horizontal">


<fieldset>

<div class="control-group">
	<label for="text" class="control-label">Text</label>
	<div class="controls">
		<textarea class="boxborder" rows="15" 
			name="text" id="text" placeholder="paste the text of your essay"
			required="required">{{ text }}</textarea>

	</div>
</div>
<div class="control-group">
	<label class="control-label">State of writing</label>
	<div class="controls">
		<label class="radio">
			<input type="radio" name="state" id="option-state-early" value="1" checked>
			Early draft
		</label>
		<label class="radio">
			<input type="radio" name="state" id="option-state-advanced" value="3">
			Advanced draft
		</label>
		<label class="radio">
			<input type="radio" name="state" id="option-state-final" value="3">
			Final version
		</label>
	</div>
</div>


</fieldset>

<div class="form-actions">
	<button class="btn btn-primary" id="submit_essay" type="submit" name="action" value="Submit">Submit</button> 
</div>
								
</form>
	
	</div> <!-- /widget-content -->
</div><!-- /widget -->
	
</div>
<div class="span3">

	<div class="widget">
					<div class="widget-header">
						<i class="icon-question-sign"></i>
						<h3>Help</h3>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">
					<p>Copy and paste the complete text of your essay</p>
					<p>Don't worry about style, fonts, pictures, etc. Only the raw text will be copied and analysed by the system.</p>	
					</div> <!-- /widget-content -->
					
					<div class="widget-content">
					<p>Please indicate if you think your draft is at an early stage (initial sketch, first attempt, ...) or at a final stage of writing (before submission to tutor).</p>	
					</div> <!-- /widget-content -->
				
				</div>
</div>

</div>

{% endblock %}
 
{% block injectJS %}
	{{ parent() }}
<script src="/assets/jquery-ui-1.9.2.custom/js/jquery.blockUI.js"></script>
<script>
$(document).ready(function() {
	$.blockUI.defaults.baseZ = 1100;
	$("#submit_esddsay").click(function(e) {
		});

	$('#post_essay').submit(function() {
		$.blockUI({ message: '<div class="ajax alert alert-info">Starting Analysis. Please Wait.</div>' }); 
		return true;
		});

});
</script>
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
<style>
	
	.boxborder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
              resize: vertical;
    width: 100%;
}
.ajax.alert
{
	margin-bottom: 0px;
	font-weight: bolder;
}
</style>

{% endblock %}