{% extends "site.twig" %} 

{% block title %}Analyse a new draft {% endblock %} 
{% block subheader %}Analyse a new draft for {{ task.name }}{% endblock %} 

{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block navsubheader %}
	{% include "widgets/navbar.tasks.twig" with {'navsrc': 'me.draft.submit'} %}
{% endblock %}


{% block content %}

<div class="row-fluid">

<div class="span12">

	<div class="widget">
		<div class="widget-header">
			<i class="icon-pencil"></i>
			<h3>Analyse a new draft</h3>
		</div> <!-- /widget-header -->
					
	<div class="widget-content">

<form name="post_essay" id="post_essay" method="post" class="form-horizontal">


<fieldset>

<div class="control-group">
	<label for="text" class="control-label">Text</label>
	<div class="controls">
		<textarea class="boxborder" rows="15" 
			name="text" id="text" placeholder="paste the text of your essay"
			required="required">{{ form.text }}</textarea>

		<span class="help-block">
			Copy and paste the complete text of your essay in this box.
			Don't worry about style, fonts, pictures, etc. 
			Only the raw text will be copied and analysed by the system.
		</span>
			
			
	</div>
</div>

<div class="control-group">
	<label for="draft-name" class="control-label">Name for draft</label>
	<div class="controls">
		<input type="text" name="name" id="draft-name" class="input-xxlarge"
			placeholder="The name for this draft" value="{{ form.name }}">
		<span class="help-block">Optionally, you can give a name or a description for this draft. 
			With or without it, this draft will be identified by the system as 
			<span class="label label-success"><b>Version {{ form.version }}</b></span>
			.</span>
	</div>
</div>

<div class="control-group">
	<span class="control-label">State of draft</span>
	<div class="controls" id="draft-state-group">
		<label class="radio">
			<input type="radio" name="state" id="draft-state-early" value="1" {{ (form.state=="1" or form.state is not defined)? "checked" }}>
			Early
		</label>
		<label class="radio">
			<input type="radio" name="state" id="draft-state-advanced" value="2" {{ (form.state=="2")? "checked" }}>
			Advanced
		</label>
		<label class="radio">
			<input type="radio" name="state" id="draft-state-final" value="3" {{ (form.state=="3")? "checked" }}>
			Final
		</label>
		<span class="help-block">Indicate if you think your draft is at an early stage (initial sketch, first attempt, ...),
		close to its final form (just before submitting to the tutors) or somewhere in-between.</span>
		
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<input type="hidden" name="module" id="draft-module" value="{{ group.code }}"/>
		<input type="hidden" name="task" id="draft-task" value="{{ task.code }}"/>
		<input type="hidden" name="version" id="draft-version" value="{{ form.version }}"/>
	</div>
</div>


</fieldset>

<div class="form-actions">
	<button class="btn btn-primary" id="submit_essay" type="submit" name="action" value="Submit">Analyse</button> 
</div>
								
</form>
	
	</div> <!-- /widget-content -->
</div><!-- /widget -->
	
</div>


</div>

{% endblock %}
 
{% block injectJS %}
	{{ parent() }}
<script src="{{ app_base }}/assets/jquery-ui-1.9.2.custom/js/jquery.blockUI.js"></script>
<script src="{{ app_base }}/assets/jquery.validation/jquery.validate.min.js"></script>

<script>
$(document).ready(function() {
	$.blockUI.defaults.baseZ = 1100;

	$('#post_essay').validate({
		rules: {
			text:
			{
				required: true,
				minlength: 200
			}
		},
		submitHandler: function(form) {
			$.blockUI({ message: '<div class="ajax alert alert-info">Starting Analysis. Please Wait.</div>' }); 
		form.submit();
			 }, highlight: function(element) {
				 $(element).closest('.control-group').removeClass('success').addClass('error');
			 },
			 success: function(element) {
			 element
			 .text('OK!').addClass('valid')
			 .closest('.control-group').removeClass('error').addClass('success');
			 }
		 
	});

});
</script>
{% endblock %}

{% block injectCSS %}
	{{ parent() }}
<style>
label.error.valid {
    display: none !important;
}

label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
	
	
	.boxborder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
              resize: vertical;
    width: 100%;
}
.ajax.alert
{
	margin-bottom: 0px;
	font-weight: bolder;
}
</style>

{% endblock %}