{% extends "site.twig" %} 
{% import "widgets/ngram.macro.twig" as ngram %}

{% block title %}Drafts{% endblock %} 
{% block subheader %}History of your drafts for {{ task.name }}{% endblock %} 

{% block navsubheader %}
	{% include "widgets/navbar.tasks.twig" with {'navsrc': 'me.draft.history'} %}
{% endblock %}

{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block content %}


<div class="row-fluid">
<div class="span12">
		<div class="widget">
			<div class="widget-header">
				<h3>History of drafts</h3>
			</div>
			<div class="widget-content"> 
	
				<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Version</th>
						<th>Description</th>
						<th>Date Analysed</th>
						<th>Word Count</th>
						<th>Key Words (Top 10)</th>
					</tr>
				</thead>
				<tbody>
				{% for draft in drafts %}
				
				<tr>
					<td><a class="btn btn-large"  href="{{ urlFor('me.draft.show',{"draft":draft.id}) }}">
					<i class="icon-large icon-pencil"></i> Version {{ draft.version }}</a></td>
					<td>{{ draft.name }}</td>
					<td style="white-space: nowrap;">{{ draft.date | date("Y-m-d")}}<br><i class="icon-time icon-large"></i> <small>{{ draft.datesince }} ago</small></td>
					<td>{{ draft.wordcount }}</td>
					<td>{% for item in draft.keywords[0:10] %} 
						{{ ngram.toBtnExt(item,{isDisabled:true}) }}
						{% endfor %}
				</tr>
				{% endfor %}
				
				</tbody>
				</table>
			</div>

		</div>
	</div>
</div>


{% endblock %}