{% extends "site.twig" %} 

{% block title %}Drafts{% endblock %} 
{% block subheader %}<hr>Manage your drafts for {{ task.name }}{% endblock %} 


{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block content %}

<div class="row-fluid">
<div class="span12">
		<div class="widget widget-review">
			<div class="widget-header">
				<h1>Actions</h1>
			</div>
			<div class="widget-content"> 

			<a class="btn btn-large" title="Go to the drafts for this assignment"
				href="{{ urlFor('me.draft.action',{"idt":task.id}) }}">
				<i class="icon-large icon-desktop"></i> Show the last draft</a>
			
			<a class="btn btn-large" title="Go to the drafts for this assignment"
				href="{{ urlFor('me.draft.submit',{"idt":task.id}) }}">
				<i class="icon-large icon-upload-alt"></i> Analyse a new draft</a>

			<a class="btn btn-large disabled" title="Go to the drafts for this assignment"
				>
				<i class=" icon-large icon-archive"></i> Show the draft history</a>
			
	
			
					
				
			</div>
		</div>
	</div>	
</div>

<div class="row-fluid">
<div class="span12">
		<div class="widget">
			<div class="widget-header">
				<h3>History</h3>
			</div>
			<div class="widget-content"> 

				<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th>Version</th>
						<th>Date</th>
						<th>Word Count</th>
						<th>Key Words</th>
					</tr>
				</thead>
				<tbody>
				{% for draft in drafts %}
				<tr>
					<td><a class="btn btn-large"  href="{{ urlFor('me.draft.show',{"draft":draft.id}) }}">
					<i class="icon-large icon-desktop"></i> version {{ draft.id }}</a></td>
					<td style="white-space: nowrap;">{{ draft.date | date("Y-m-d")}}<br><small>({{ draft.datesince }} ago)</small></td>
					<td>{{ draft.wordcount }}</td>
					<td>{% for item in draft.keywords[0:7] %} 
						{{ ngram.toBtn(item) }}
						{% endfor %}</td>
				</tr>
				{% endfor %}
				
				</tbody>
				</table>
			</div>

		</div>
	</div>
</div>


{% endblock %}