{% extends "site.twig" %} 

{% block title %}Assignments{% endblock %} 
{% block subheader %}<hr>Your Assignments{% endblock %} 


{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span4">
	<div class="widget">
		<div class="widget-header">
		<h3>Course</h3>
		</div>
		<div class="widget-content"> 
				<p> {{ group.description }}</p>
			</div> 
	</div>
	</div>

	<div class="span8">
		<div class="widget">
			<div class="widget-header">
				<h3>Assignments in the course {{ group.name }}</h3>
			</div>
			<div class="widget-content"> 

				<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						<th width="5%">#</th>
						<th>Name</th>
						<th>Deadline</th>
						<th>Open</th>
						
					</tr>
				</thead>
				<tbody>
					{% for task in tasks %}
					
					<tr>
					<td><code>{{ task.id }}</code></td>
					<td><a class="btn" 
							href="{{ urlFor('me.drafts',{"idt":task.id}) }}">{{ task.name }}</a></td>
					<td>{{ task.deadline }}</td>
					<td>{{ task.isopen }}</td>
				
					</tr>
					{% endfor %}
				</tbody>
				</table>
			
			</div> 
		</div>
	</div>
</div>


{% endblock %}