{% extends "site.twig" %} 

{% block title %}Assignments{% endblock %} 
{% block subheader %}Your Assignments{% endblock %} 


{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" %}
{% endblock %}


{% block injectCSS %}
	{{ parent() }}
<style>
td .btn{white-space: nowrap;}
 
</style>
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span2">
	<div class="widget">
		<div class="widget-header">
		<h3>Course</h3>
		</div>
		<div class="widget-content">
				<p>{{ group.name }}</p> 
				<p> {{ group.description }}</p>
			</div> 
	</div>
	</div>

	<div class="span10">
		<div class="widget">
			<div class="widget-header">
				<h3>Assignments in the course {{ group.name }}</h3>
			</div>
			<div class="widget-content"> 

				<table class="table table-condensed table-striped table-bordered">
				<thead>
					<tr>
						
						<th>Name</th>
						<th>Assignment</th>
						<th>Deadline</th>
						<th>Drafts</th>
		
						
					</tr>
				</thead>
				<tbody>
					{% for task in tasks %}
					
					<tr>
					
					<td><a class="btn" title="Go to the drafts for this assignment"
							href="{{ urlFor('me.draft.action',{"idt":task.id}) }}"><i class="icon-pencil"></i> {{ task.name }}</a></td>
					<td>{{ task.assignment }}</td>
					<td>{{ task.deadline }}</td>
					<td><span class="badge">{{ task.draftcount }}</span></td>

				
					</tr>
					{% endfor %}
				</tbody>
				</table>
			
			</div> 
		</div>
	</div>
</div>


{% endblock %}