{% extends "site.twig" %} 

{% block title %}Assignments{% endblock %} 
{% block subheader %}Your Assignments{% endblock %} 


{% block bccontainer %}		
	{% include "widgets/breadcrumb.task.twig" with {'navsrc': 'me.tasks'} %}
{% endblock %}


{% block injectCSS %}
	{{ parent() }}
<style>
td .btn{white-space: nowrap;}
 
</style>
{% endblock %}



{% block injectJS %}
	{{ parent() }}
<script>
$(document).ready(function() {
$(".task-content").dotdotdot({
	watch: "window"
	});
});
</script>
{% endblock %}

{% block content %}

<div class="row-fluid">
	<div class="span12">
		<div class="widget">
			<div class="widget-header">
				<h2>Assignments in the group "{{ group.name }}"</h2>
			</div>
			<div class="widget-content"> 
				<p>These are the assignment questions for <strong>{{ group.name }}</strong>. Choose a task to start analysing and reviewing your drafts.</p>
				{% for task in tasks %}
				<div class="row-fluid" style="border:1px solid #D5D5D5; margin: 10px 0; ">
					<div class="span3" style="padding:5px;">
						<a 	class="span12 btn btn-large" style="line-height: 60px;" title="Go to this assignment"
							rel="tooltip" data-placement="bottom"
							href="{{ urlFor('me.draft.action',{"idt":task.id}) }}"><i class="icon-book icon-large"></i> {{ task.name }}</a>
					</div>
					<div class="span6 task-content" style="padding:5px; max-height: 150px;">
						<p>{{ task.assignment }}</p>
					</div>
					<div class="span3" style="padding:5px;">
						<div class="row-fluid" style="padding:5px 0;">
							<div class="span12" >
								<p><span><b>Drafts analysed:</b></span>
								<br class="hidden-phone hidden-tablet"/>
									<span class="badge badge-info">{{ task.draftcount }}</span>
								</p>
						
						</div></div>
						<div class="row-fluid" style="padding:5px 0;">
							<div class="span12" >
								<span><b>Deadline:</b> </span>
								<br class="hidden-phone hidden-tablet"/>
								<span>{{ task.deadline|date("jS F Y") }}</span>
							</div>
						</div>

						<div class="row-fluid" style="padding:5px 0;">
							<div class="span12" >
								<div class="well" style="padding: 4px;">
									<p style="display: table-cell; vertical-align: middle; padding-right: 5px;">
										<span class="icon-stack  icon-large"  title="{{ task.isopen? 'This is assignment is open' : 'this is assignment is closed' }}">
		  								<i class="{{ task.isopen? 'icon-circle  icon-stack-base' : 'icon-ban-circle icon-stack-base text-error  icon-flip-vertical' }}"></i>
		  								<i class="{{ task.isopen? 'icon-pencil icon-light' : 'icon-pencil' }}"></i>
									</span></p>
									<p class="small" style="display: table-cell;vertical-align: middle;">{{ task.isopen? 'This assignment is open' : 'this assignment is closed' }}</p>
								</div>	
							
								
							</div>
						</div>
						
					</div>
				</div>
				{% endfor %}
								<div class="alert  alert-error	">
    				<p>Please remember that this system is not part of the module and will not submit your final essay to the tutors.</p>
    			</div>			
				
			</div> 
		</div>
	</div>	

		
		
	
</div>
{% endblock %}